#contribution-chart {
           max-height: 400px;
           max-width: 400px;
            margin-left:300px;
        }

 #gsoc-chart {
           max-height: 400px;
           max-width: 400px;
           margin-left: 300px;
        }
