{% extends 'base/base.html' %}
{% load static %}
{% load index %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Event Details</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->
    <br><br>

    <div class="container">
        <div class="row">
            <h1 class="head col-md-12">{{ object.name }}</h1>
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-block">
                        <p class="card-text preserve-contents">{{ object.description }}</p>
                        <p class="card-text preserve-contents">Venue: {{ object.venue }}</p>
                        <p class="card-text">{{ object.start_date }} to {{ object.end_date }}</p>
                        <hr>
                        <p>
                            <small>{{ object.trainer_bio }}
                            </small>
                        </p>
                        <p>Level: {{ object.level }}</p>
                        <p>Prerequisites: {{ object.prerequisite }}</p>
                        <p>
                            <small class="text-muted">
                                Participants : {{ object.no_of_participants }}
                            </small>
                        </p>
                        <p>Travel: {{ object.travel }}</p>
                        <p>Accomodation: {{ object.accommodation }}</p>
                        <p>Expense: {{ object.expense }}</p>
                        <p>Lab Requirements: {{ object.lab_requirements }}</p>
                        <p>ICTS Support: {{ object.icts_support }}</p>
                        {% if edit_permission %}
                            <a href="{% url 'workshopdetail_update' object.id %}">
                                <button type="submit" class="btn btn-dark anim-scroll">Update</button>
                            </a>
                        {% endif %}
                        {% if edit_permission %}
                            <a href="{% url 'workshop_delete' object.id %}">
                                <button type="submit" class="btn btn-danger add-btn">Delete</button>
                            </a>
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}