{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Gallery List</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->
    </section>
    <!-- /HERO -->

    <div class="container">
        <div class="row">
            <br>
            {% for object in object_list %}
                <div class="col-md-6">
                    <img class="img" src="/static/media/{{ object.image }}">
                    <div class="div2">
                        <form method="post" action="{% url "eventimage_delete" object.id %}">
                            {% csrf_token %}
                            <button type="submit" class="button">×</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            <div class="col-md-12">
                <a href="{% url 'eventimage_add' id %}">
                    <button type="submit" class="btn btn-dark anim-scroll">Add Image</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}