{% extends 'base/base.html' %}

{% block title %} Reset Password {% endblock %}

{% block body %}
     <div id="wrap">
        <div id="main">
            {% include 'base/nav-bar.html' %}

            <h3 style="text-align:center">Reset Password</h3>
            {% if form.email.errors %}
            <p>{{ form.email.errors }}</p>
            {% endif %}

            <form method="POST" action="">
            {% csrf_token %}
            <input type="email" name="email" placeholder="name@example.com"><br>

            <input type="submit" value="Send Mail">

                </form>


        </div>
     </div>

    {% include 'base/footer.html' %}
{% endblock %}
