{% extends 'base/base.html' %}

{% block title %} Confirm Reset {% endblock %}

{% block body %}
     <div id="wrap">
        <div id="main">
            {% include 'base/nav-bar.html' %}

    {% if validlink %}
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
            </table>

                 <input type="submit" value="Change Password" />

        </form>

    {% else %}
        <h1>Password reset failed</h1>
        <p>The link is invalid. Please request a new link.</p>
{% endif %}



        </div>
     </div>

    {% include 'base/footer.html' %}
{% endblock %}
