{% extends 'base/base.html' %}

{% block title %} Change Password {% endblock %}

{% block body %}
     <div id="wrap">
        <div id="main">
            {% include 'base/nav-bar.html' %}


<form method="POST" action="">
    {% csrf_token %}
    <input type="password" name="old_password" placeholder="Old Password"><br>
    <input type="password" name="new_password1" placeholder="New Password"><br>
    <input type="password" name="new_password2" placeholder="Re-enter New Password"><br>

    <input type="submit" value="Change Password">

</form>


        </div>
     </div>

    {% include 'base/footer.html' %}
{% endblock %}
