{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30 js-fullheight"
             data-background="{% static 'home/assets/images/aboutbg.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title">FOSS@Amrita</h1>
                <p class="hero-subtitle font-serif m-t-40">Your freedom begins here. <br>
                    Converge your obssesion into something great. For the greater cause.</p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <!-- SERVICES -->
    <section class="module">
        <div class="container-fluid container-custom">

            <!-- MODULE TITLE -->
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Our Notion</h2>
                    <p class="module-subtitle">"Leadership is about Empathy."</p>
                </div>
            </div>
            <!-- /MODULE TITLE -->

            <!-- <div class="row">
                <div class="col-sm-12">
                    <div class="text-center m-b-60">

                </div>
            </div> -->

            <div class="row multi-columns-row">

                <!-- ICONBOX -->
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="iconbox">
                        <div class="iconbox-icon">
                            <span class="icon-mobile"></span>
                        </div>
                        <div class="iconbox-header">
                            <h4 class="iconbox-title font-alt">Design</h4>
                        </div>
                        <div class="iconbox-content">
                            <p>Human-centered design is a philosophy, not a precise set of methods, but one that assumes
                                that innovation should start by getting close to users and observing their
                                activities.</p>
                        </div>
                    </div>
                </div>
                <!-- /ICONBOX -->

                <!-- ICONBOX -->
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="iconbox">
                        <div class="iconbox-icon">
                            <span class="icon-linegraph"></span>
                        </div>
                        <div class="iconbox-header">
                            <h4 class="iconbox-title font-alt">Engineering</h4>
                        </div>
                        <div class="iconbox-content">
                            <p>Our vision is to rediscover the spirit of the Renaissance, create a new discipline where
                                engineering for cultural heritage is actually a symbol of blending art and science
                                together.</p>
                        </div>
                    </div>
                </div>
                <!-- /ICONBOX -->

                <!-- ICONBOX -->
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="iconbox">
                        <div class="iconbox-icon">
                            <span class="icon-strategy"></span>
                        </div>
                        <div class="iconbox-header">
                            <h4 class="iconbox-title font-alt">Leadership</h4>
                        </div>
                        <div class="iconbox-content">
                            <p>Leadership is about empathy. It is about having the ability to relate to and connect with
                                people for the purpose of inspiring and empowering thier lives</p>
                        </div>
                    </div>
                </div>
                <!-- /ICONBOX -->

                <!-- ICONBOX -->
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="iconbox">
                        <div class="iconbox-icon">
                            <span class="icon-layers"></span>
                        </div>
                        <div class="iconbox-header">
                            <h4 class="iconbox-title font-alt">Creative</h4>
                        </div>
                        <div class="iconbox-content">
                            <p>When you show deep empathy toward others, their defensive energy goes down, and positive
                                energy replaces it. That's when you can get more creative in solving problems.</p>
                        </div>
                    </div>
                </div>
                <!-- /ICONBOX -->

            </div>

        </div>
    </section>
    <!-- /SERVICES -->

    <!-- Short note section -->
    <section class="module bg-dark-30" data-background="{% static 'home/assets/images/module-5.jpg' %}">
        <div class="container-fluid container-custom">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">A short note..!</h2>
                </div>
                <!-- text area -->
                <div class="col-md-12">
                    <div class="counter text-light">
                        <p>FOSS@Amrita is one of the most active student communities on the campus, living and breathing
                            on the
                            motto of Code | Share | Grow . We are a community of students who support and guide each
                            other towards
                            making open source contributions, and the usage of free software. Here we encourage, support
                            and
                            mentor students to improve their technical and social skills through contributing to open
                            source.
                            We aim at helping students to embrace the free and open source approach that is fast gaining
                            momentum.
                            We develop ideas, learn to build new things, be it Computer Science or social skills which
                            are an
                            essentiality today. </p>
                        <p>We have regular sessions, talks and presentations on recent technologies and how it’s
                            important to us,
                            given by our own students and Alumni placed at prestigious institutions. We try to give the
                            students as
                            much a exposure and experience that we can give to prepare them on how the industry works,
                            and what
                            is expected of them in a real workspace. Hackathons conducted by MediaWiki and Drupal are
                            examples of
                            the wide array of opportunities that the FOSS club provides the students to learn, grow and
                            work with
                            the industry, and get a feel of how they can apply what they learn sitting in classrooms. We
                            have
                            students working for Free and open source communities, working on Android development, Web
                            development
                            and much more.</p>
                        <p>We take part in programs such as GSoC, KDE-SoK, RSoC which all are different Summer of Code
                            programs
                            conducted by different communities. In the year of 2016, we had 16 selects for GSoC ( with
                            11 from
                            Amritapuri - 10 GSoC + 1 Outreach ), also 5 selectees at 2017 which clearly shows the
                            enthusiasm
                            and dedication of the Amritapuri Campus. Being a student community, there are no biases,
                            since
                            learning comes from our fellow peers and seniors. It becomes super fun when we stay late in
                            labs
                            working on things which we love and are interested in. If you are thinking that FOSS is all
                            about
                            academics and work, We think this would help you clear your mind. We have weekly activities
                            like
                            debates, gardening, lightning talks, vedic chanting, sports sessions and many more to
                            supplement our
                            growth as a whole. We work together as a team. And apart from all of these FOSS Club is a
                            great
                            learning platform for anyone who is really interested in hacking into the crest and trough
                            of Computer
                            science. We also focus on extracurricular activities which will in turn lead you to better
                            future and
                            a wholesome life.Students in FOSS club have a complete growth and the foresight to survive
                            and succeed
                            in the outside world, given the constraints and work environment. We are not a bunch of
                            “geeks”
                            who sit and stare at the computer screens, but a family of happy to go lucky people who are
                            just
                            ready to take on whatever life has in store for us!!:) </p><br>

                        <p>There is an excitment among ourselves in the club, which could be seen vibrantly all around
                            the faces
                            in the foss club. Here is a chat with bill gates by a random interviewer which is kinda our
                            driving force</p>
                        <p>Interviewer: Is studying computer science the best way to prepare to be a programmer?<br>
                            Bill Gates: No. the best way to prepare is to write programs, and to study great programs
                            that other
                            people have written. In my case, I went to the garbage cans at the Computer Science Center
                            and I
                            fished out listings of their operating system. You got to be willing to read other people's
                            code,
                            then write your own, then have other people review your code. You've got to want to be in
                            this
                            incredible feedback loop where you get the world-class people to tell you what you're doing
                            wrong. <br>

                            Bill Gates cited in: "Programmers at Work: Interviews With 19 Programmers Who Shaped the
                            Computer
                            Industry".</p>
                    </div>
                </div>
                <!-- /text area -->
            </div>
        </div>
    </section>
    <!-- /Short note section -->

    <!-- TESTIMONIALS -->
    <section class="module">
        <div class="container-fluid container-custom">

            <!-- MODULE TITLE -->
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">What Inspires us.</h2>
                </div>
            </div>
            <!-- /MODULE TITLE -->

            <div class="row">

                <div class="col-sm-8 col-sm-offset-2">

                    <!-- TESTIMONIALS CAROUSEL -->
                    <div class="owl-carousel slider-reviews">

                        <!-- TESTIMONIAL -->
                        <blockquote class="testimonial font-serif">
                            It's fine to celebrate success but it is more important to heed the lessons of failure.
                            <cite class="font-alt">
                                <img src="{% static 'home/assets/images/bill_gates.png' %}" alt="">
                                Bill gates
                            </cite>
                        </blockquote>
                        <!-- /TESTIMONIAL -->

                        <!-- TESTIMONIAL -->
                        <blockquote class="testimonial font-serif">
                            Great things in business are never done by one person. They're done by a team of people.
                            <cite class="font-alt">
                                <img src="{% static 'home/assets/images/steve_jobs.png' %}" alt="">
                                Steve Jobs
                            </cite>
                        </blockquote>
                        <!-- /TESTIMONIAL -->

                        <!-- TESTIMONIAL -->
                        <blockquote class="testimonial font-serif">
                            What we need to do is always lean into the future; when the world changes around you and
                            when it changes against you - what used to be a tail wind is now a head wind - you have to
                            lean into that and figure out what to do because complaining isn't a strategy.
                            <cite class="font-alt">
                                <img src="{% static 'home/assets/images/jeff-bezos.jpg' %}" alt="">
                                Jeff Bezos
                            </cite>
                        </blockquote>
                        <!-- /TESTIMONIAL -->

                    </div>
                    <!-- /TESTIMONIALS CAROUSEL -->

                </div>

            </div>

        </div>
    </section>
    <!-- /TESTIMONIALS -->

    <!-- TEAM -->
    <section class="module">
        <div class="container-fluid container-custom">

            <!-- MODULE TITLE -->
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Meet with <br> our creative team</h2>
                </div>
            </div>
            <!-- /MODULE TITLE -->

            <div class="row">


                <!-- TEAM MEMBER -->
                <div class="col-sm-3">
                    <div class="team-item m-b-sm-40">
                        <img src="{% static 'home/assets/images/team-4.jpg' %}" alt="Aniketh Girish">
                        <div class="team-inner">
                            <h4 class="team-name font-alt">Aniketh Girish</h4>
                            <span class="team-role font-serif">Designer / Front-end Developer</span>
                        </div>
                    </div>
                </div>
                <!-- /TEAM MEMBER -->

                <!-- TEAM MEMBER -->
                <div class="col-sm-3">
                    <div class="team-item m-b-sm-40">
                        <img src="{% static 'home/assets/images/team-2.jpg' %}" alt="Chirath R">
                        <div class="team-inner">
                            <h4 class="team-name font-alt">Chirath R</h4>
                            <span class="team-role font-serif">Full Stack Developer</span>
                        </div>
                    </div>
                </div>
                <!-- /TEAM MEMBER -->

                <!-- TEAM MEMBER -->
                <div class="col-sm-3">
                    <div class="team-item m-b-sm-40">
                        <img src="{% static 'home/assets/images/team-1.jpg' %}" alt="Navaneeth S">
                        <div class="team-inner">
                            <h4 class="team-name font-alt">Navaneeth S</h4>
                            <span class="team-role font-serif">Back-End Developer</span>
                        </div>
                    </div>
                </div>
                <!-- /TEAM MEMBER -->

                <!-- TEAM MEMBER -->
                <div class="col-sm-3">
                    <div class="team-item m-b-sm-40">
                        <img src="{% static 'home/assets/images/team-3.jpg' %}" alt="Rahul K">
                        <div class="team-inner">
                            <h4 class="team-name font-alt">Rahul K</h4>
                            <span class="team-role font-serif">Back-End Developer</span>
                        </div>
                    </div>
                </div>
                <!-- /TEAM MEMBER -->

            </div>
    </section>
    <!-- /TEAM -->

{% endblock %}