<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


    <link rel="stylesheet" href="{% static 'home/assets/css/admin-panel.css' %}">


</head>

<body>
<nav class="admin-panel">
    <div class="burger">
        <div class="burger__patty"></div>
    </div>

    <ul class="nav__list">
        <li class="nav__item">
            <a href="#1" class="nav__link c-blue"><i class="fa fa-camera-retro"></i></a>
        </li>
        <li class="nav__item">
            <a href="#2" class="nav__link c-yellow scrolly"><i class="fa fa-rss"></i></a>
        </li>
        <li class="nav__item">
            <a href="#3" class="nav__link c-red"><i class="fa fa-tachometer"></i></a>
        <li class="nav__item">
            <a href="#4" class="nav__link c-green"><i class="fa fa-line-chart"></i></a>
        </li>
    </ul>
</nav>


<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src="{% static 'home/assets/js/admin-panel.js' %}"></script>

</body>
</html>
