{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- GOOGLE MAP -->
    <section class="module-map">
        <!-- ADD YOUR ADDRESS HERE -->
        <div id="map" data-address="Amritapuri Campus,Amritapuri, Clappana P.O,Vallikavu, Kerala 690525"></div>
    </section>
    <!-- /GOOGLE MAP -->

    <!-- CONTACT -->
    <section class="module">
        <div class="container-fluid container-custom">

            <!-- MODULE TITLE -->
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Let’s talk</h2>
                    <p class="module-subtitle">Interested to know how things work at FOSS club? How do we contain such
                        an ecosystem and maintain it beautifully and elegantly? No worries, just shoot in a message
                        here. We will be get in touch with you ASAP!</p>
                </div>
            </div>
            <!-- /MODULE TITLE -->

            <div class="row">

                <div class="col-sm-8">
                    <form id="contact-form" role="form" method="post">
                        <div class="form-group">
                            {% csrf_token %}
                            <label class="" for="name">Name: </label>
                            <input type="text" minlength="6" id="name" value="{% ifnotequal form.email.value None %}{{ form.email.value }}{% endifnotequal %}" class="form-control" name="name" placeholder="Name*"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label class="" for="email">Email: </label>
                            <input type="email" id="email" name="email" class="form-control" placeholder="Your E-mail*" value="{% ifnotequal form.email.value None %}{{ form.email.value }}{% endifnotequal %}"
                                   required="">
                        </div>
                        <div class="form-group">
                          <label class="" for="message">Message:</label>
                            <textarea class="form-control" id="message" name="message" rows="7" placeholder="Any Message*"
                                      required="">{% ifnotequal form.message.value None %}{{ form.message.value }}{% endifnotequal %}</textarea>

                        </div>
                        <div class="form-group">
                          {{form.captcha }}
                        </div>

                        <div class="text-center">
                            <button type="submit" id="submit" class="btn btn-round btn-dark">Submit</button>
                        </div>
                    </form>
                    {% if is_success %}
                        Thank you!!
                        <script>alert("Thank you! Message sent.")
                        </script>
                        <meta http-equiv="refresh" content="0.1; URL=/home">
                        <meta name="keywords" content="automatic redirection">
                    {% endif %}
                    {% ifequal is_success False%}
                    Failed to send message
                    <script>
                      alert("There is a problem in sending message, please fill credentials properly")
                    </script>
                    {% endifequal %}
                </div><!-- .col-* -->

                <div class="col-sm-4">

                    <div class="iconbox iconbox-left m-t-0 m-t-sm-40">
                        <div class="iconbox-icon">
                            <span class="icon-megaphone"></span>
                        </div>
                        <div class="iconbox-header">
                            <h4 class="iconbox-title font-alt">Say Hello</h4>
                        </div>
                        <div class="iconbox-content">
                            <p>Email: amritapurifoss@gmail.com</p>
                        </div>
                    </div>

                    <div class="iconbox iconbox-left">
                        <div class="iconbox-icon">
                            <span class="icon-map"></span>
                        </div>
                        <div class="iconbox-header">
                            <h4 class="iconbox-title font-alt">Where to meet</h4>
                        </div>
                        <div class="iconbox-content">
                            <p>Amritapuri Campus, <br>Amritapuri, <br>Clappana P.O, Vallikavu, <br>Kerala, 690525</p>
                        </div>
                    </div>

                </div><!-- .col-* -->

            </div>

        </div>
    </section>
    <!-- /CONTACT -->
{% endblock %}
