{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- HERO -->
    <!-- HERO -->
    <section id="hero" class="module-hero js-fullheight">
        <div id="slides">

            <ul class="slides-container">

                <li class="bg-light bg-film">
                    <img src="{% static 'home/assets/images/mainbg.jpg' %}">

                    <!-- HERO TEXT -->
                    <div class="hero-caption">
                        <div class="hero-text">
                            <h6 class="m-b-30">amrita vishwa vidyapeetham</h6>
                            <h1 class="m-b-30">FOSS@Amrita</h1>
                            <h6 class="m-b-60">Code | Share | Grow</h6>
                            <a href="#portfolio" class="btn btn-dark anim-scroll">Learn More</a>
                        </div>
                    </div>
                    <!-- /HERO TEXT -->
                </li>

                <li class="bg-dark-30">
                    <img src="assets/images/module-3.jpg" alt="">

                    <!-- HERO TEXT -->
                    <div class="hero-caption">
                        <div class="hero-text">
                            <h6 class="m-b-30">Text 1</h6>
                            <h1 class="m-b-30">Text 2</h1>
                            <h6 class="m-b-60">Text 3</h6>
                            <a href="about.html" class="btn btn-dark anim-scroll">About</a>
                        </div>
                    </div>
                    <!-- /HERO TEXT -->
                </li>

                <li>
                    <img src="assets/images/module-6.jpg" alt="">

                    <!-- HERO TEXT -->
                    <div class="hero-caption">
                        <div class="hero-text">
                            <h6 class="m-b-30">Text 1</h6>
                            <h1 class="m-b-30">Text 2</h1>
                            <h6 class="m-b-60">Text 3</h6>
                            <a href="portfolio-single.html" class="btn btn-dark">See more</a>
                        </div>
                    </div>
                    <!-- /HERO TEXT -->
                </li>

            </ul>

            <nav class="slides-navigation">
                <a href="#" class="next"><i class="fa fa-angle-right"></i></a>
                <a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
            </nav>

        </div>
    </section>
    <!-- /HERO -->

    <!-- Achievements -->
    <section>
        <hr>
        <div class="row" style="margin: 30px;">
            <div class="col-md-6">
                <b><h2 class="major">Presence of FOSS@Amritans<br/></h2></b>
                <div class="tagcloud05" id="tagcloud">
                    <ul>
                        {% for tag in tags %}
                            <li><a href="#"><span>{{ tag }}</span></a></li>
                        {% endfor %}
                    </ul>
                    <br>

                    <a href="{% url 'timeline_list' %}"><h6 class="btn btn-dark anim-scroll" style="margin-left: 25%;">
                        See More..</h6></a>

                </div>
            </div>
            <div class="col-md-6">
                <b><h2 class="major">Achievements<br/></h2></b>
                <ul>
                    <li>
                        For the very first time we got five first years (Gopal, Aniketh, Amrit, Anant and Chiranjeeb) to
                        get into
                        <a href="https://summerofcode.withgoogle.com/">GSoC 2017</a>
                    </li>
                    <li>
                        Conducted conferences like MediaWiki To Learn Conference and Drupalathon'17.
                    </li>
                    <li>
                        For the first time we had one first year student to get into Season Of KDE (SoK).
                    </li>
                    <li>
                        Three students from the club were selected as speakers for the Wiki To Learn Conference India.
                    </li>
                    <li>
                        Two students were selected as speakers for KDE Conference India.
                    </li>
                    <li>
                        And much much more....... at
                        <a href="http://foss.amrita.ac.in/achievements/">
                            <strong>Achievements</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- /Achievements -->

    <!-- COUNTERS -->
    <section class="module bg-dark-30">
        <div class="container-fluid container-custom">

            <div class="row">

                <!-- COUNTER -->
                <div class="col-md-3">
                    <div class="counter text-light">
                        <div class="counter-icon">
                            <span class="icon-trophy"></span>
                        </div>
                        <div class="counter-header">
                            <h4 class="counter-title">
                                <span class="counter-timer" data-from="0" data-to="10">0</span><span>+</span>
                            </h4>
                        </div>
                        <div class="counter-content">
                            <h6>Years</h6>
                        </div>
                    </div>
                </div>
                <!-- /COUNTER -->

                <!-- COUNTER -->
                <div class="col-md-3">
                    <div class="counter text-light">
                        <div class="counter-icon">
                            <span class="icon-tools"></span>
                        </div>
                        <div class="counter-header">
                            <h4 class="counter-title">
                                <span class="counter-timer" data-from="0" data-to="100">0</span><span>+</span>
                            </h4>
                        </div>
                        <div class="counter-content">
                            <h6>Google Summer of Code's</h6>
                        </div>
                    </div>
                </div>
                <!-- /COUNTER -->

                <!-- COUNTER -->
                <div class="col-md-3">
                    <div class="counter text-light">
                        <div class="counter-icon">
                            <span class=" icon-linegraph"></span>
                        </div>
                        <div class="counter-header">
                            <h4 class="counter-title">
                                <span class="counter-timer" data-from="0" data-to="80">0</span><span>+</span>
                            </h4>
                        </div>
                        <div class="counter-content">
                            <h6>Alumni's in Abroad</h6>
                        </div>
                    </div>
                </div>
                <!-- /COUNTER -->

                <!-- COUNTER -->
                <div class="col-md-3">
                    <div class="counter text-light">
                        <div class="counter-icon">
                            <span class=" icon-mic"></span>
                        </div>
                        <div class="counter-header">
                            <h4 class="counter-title">
                                <span class="counter-timer" data-from="0" data-to="15">0</span><span>+</span>
                            </h4>
                        </div>
                        <div class="counter-content">
                            <h6>International talks</h6>
                        </div>
                    </div>
                </div>
                <!-- /COUNTER -->

            </div>

        </div>
    </section>
    <!-- /COUNTERS -->

    <!-- Who we are -->
    <section>
        <br>
        <div class="row" style="margin: 30px;">
            <div class="col-md-4">
                <b><h2 class="major">What do we do?<br/></h2></b>
                <p>This club gives solid training to the students in the basics of computer
                    science and hence students are able to excel. There are lots of skills you don't get to learn in the
                    classrooms. Here we
                    emphasize starting from basics such as how to type correctly and to gain speed, writing code,
                    ability
                    to read large code base (more than 1000s of lines of code) and debugging, making presentations and
                    many more. You may be aware that our FOSS club has one of the largest number of Google Summer of
                    Code Interns
                    in India. We are getting better and better every year.
                </p>
            </div>
            <div class="col-md-4">
                <b><h2 class="major">Why should you join?<br></h2></b>
                <p>
                    This club is pretty informal and is operational from 2007.
                    The alumni of the club are all over the world and in top companies as well such as Cisco, Amazon,
                    Flipkart, Google, VMWare etc.
                    As members of the club you get some guidance from the alumni at a later point of time as well.
                    Also there are many who are doing PhD or Masters in reputed universities all over the world.
                    Students from the club has got various opportunities such as doing paid internships in New Zealand,
                    Israel, US and Europe.
                    Our students are also invited for talks all over the world, invited to deliver workshops in IITs and
                    many more.
                </p>
            </div>
            <div class="col-md-4">
                <h2 class="major">The Fun!</h2>
                <p>And this is the one of the best part inside the club, which is not only fabulous
                    but also excitingly interesting. We have great fun activities here apart from
                    the technical aspects that we focus on, primarily meant to have a sound and
                    healthy mind and body. Gardening sessions, debates, hackathon’s, visit to
                    orphanages or picnics just to name a few. Indulging into such activities not
                    only relaxes the mind and body but also teaches us the importance of social
                    service. Fests and internal sessions are just another place for everyone to get
                    together, interact and enjoy themselves. So get onboard!
                </p>
            </div>
        </div>
        <hr>
    </section>
    <!-- Who we are -->

    <!-- PORTFOLIO -->
    <section id="portfolio" class="module-sm" style="margin-top: -50px;">
        <div class="container-fluid">
            <!-- FILTERS -->
            <div class="row">
                <div class="col-sm-12">

                    <ul id="filters" class="filters font-alt">
                        <li><a href="#" class="current" data-filter=".fashion">Mentors</a></li>
                        <li><a href="#" data-filter=".travel">Areas</a></li>
                        <!-- <li><a href="#" data-filter=".music">Music</a></li> -->
                        <li><a href="#" data-filter=".video">Interests</a></li>
                    </ul>
                </div>
            </div>
            <!-- /FILTERS -->

            <div class="works-grid-wrapper">

                <div id="works-grid" class="works-grid works-grid-gutter">

                    <!-- Mentor Section -->
                    <article class="work-item fashion">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="{% static 'home/assets/images/vipin1.jpg' %}" alt="">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title font-alt">VIPIN P</h3>
                                <span class="work-category font-serif"><a href="#">Chief Mentor</a></span>
                            </div>
                            <a href="#" class="work-link"></a>
                        </div>
                    </article>

                    <article class="work-item fashion">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="{% static 'home/assets/images/bithin1.jpg' %}" alt="">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title font-alt">BITHIN ALANGOT</h3>
                                <span class="work-category font-serif"><a href="#">Mentor</a></span>
                            </div>
                            <a href="#" class="work-link"></a>
                        </div>
                    </article>

                    <article class="work-item fashion">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="{% static 'home/assets/images/arvind.jpg' %}" alt="">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title font-alt">ARVIND S RAJ</h3>
                                <span class="work-category font-serif"><a href="#">Mentor</a></span>
                            </div>
                            <a href="#" class="work-link"></a>
                        </div>
                    </article>
                    <!-- /Mentor Section -->

                    <!-- PORTFOLIO ITEM -->
                    <!-- <article class="work-item music">
                                <div class="work-wrapper">
                                    <div class="work-thumbnail">
                                        <img src="{% static 'home/assets/images/portfolio-2.jpg' %}" alt="">
                                    </div>
                                    <div class="work-caption">
                                        <h3 class="work-title font-alt">Pink Lips</h3>
                                        <span class="work-category font-serif"><a href="#">Music</a></span>
                                    </div>
                                    <a href="portfolio-single-1.html" class="work-link"></a>
                                </div>
                            </article> -->
                    <!-- /PORTFOLIO ITEM -->

                    <!-- Areas Section -->
                    <article class="work-item travel">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="{% static 'home/assets/images/webdev.jpg' %}" alt="">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title font-alt">Web Development</h3>
                                <span class="work-category font-serif"><a href="#">Full stack web application development</a></span>
                            </div>
                            <a href="portfolio-single-1.html" class="work-link"></a>
                        </div>
                    </article>
                    <!-- /PORTFOLIO ITEM -->

                    <!-- PORTFOLIO ITEM -->
                    <article class="work-item travel">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="{% static 'home/assets/images/soft.jpg' %}" alt="">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title font-alt">Desktop Application Development</h3>
                                <span class="work-category font-serif"><a
                                        href="#">Unix/ Linux Application development</a></span>
                            </div>
                            <a href="portfolio-single-1.html" class="work-link"></a>
                        </div>
                    </article>
                    <!-- /PORTFOLIO ITEM -->

                    <!-- PORTFOLIO ITEM -->
                    <article class="work-item travel">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="{% static 'home/assets/images/androiddev.png' %}" alt="">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title font-alt">Andriod Development</h3>
                                <span class="work-category font-serif"><a href="#"></a></span>
                            </div>
                            <a href="portfolio-single-1.html" class="work-link"></a>
                        </div>
                    </article>
                    <!-- /Areas Section -->

                    <!-- Interests Section -->
                    <article class="work-item video">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="{% static 'home/assets/images/iot-2.jpg' %}" alt="">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title font-alt">Internet of Things</h3>
                                <span class="work-category font-serif"><a href="#"></a></span>
                            </div>
                            <a href="portfolio-single-1.html" class="work-link"></a>
                        </div>
                    </article>
                    <!-- /PORTFOLIO ITEM -->

                    <!-- PORTFOLIO ITEM -->
                    <article class="work-item video">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="{% static 'home/assets/images/Data-Science.jpg' %}" alt="">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title font-alt">Data Science</h3>
                                <span class="work-category font-serif"><a href="#"></a></span>
                            </div>
                            <a href="portfolio-single-1.html" class="work-link"></a>
                        </div>
                    </article>
                    <!-- /PORTFOLIO ITEM -->

                    <!-- PORTFOLIO ITEM -->
                    <article class="work-item video">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="{% static 'home/assets/images/blockchain.png' %}" alt="">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title font-alt">Crypto Currency</h3>
                                <span class="work-category font-serif"><a href="#"></a></span>
                            </div>
                            <a href="portfolio-single-1.html" class="work-link"></a>
                        </div>
                    </article>
                    <!-- /Interests Section -->

                    <!-- PORTFOLIO ITEM -->
                    <!-- <article class="work-item music">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="assets/images/portfolio-5.jpg" alt="">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title font-alt">Workshop</h3>
                                <span class="work-category font-serif"><a href="#">Music</a></span>
                            </div>
                            <a href="portfolio-single-1.html" class="work-link"></a>
                        </div>
                    </article> -->
                    <!-- /PORTFOLIO ITEM -->


                </div>

            </div><!-- works-grid-wrapper -->

            <!-- SHOW MORE -->
            <!-- <div class="row">
                <div class="col-sm-12">

                    <div class="m-t-70 text-center">
                        <button id="show-more" class="btn btn-dark show-more">More works</button>
                    </div>

                </div>
            </div> -->
            <!-- /SHOW MORE -->

        </div>
    </section>
    <!-- /PORTFOLIO -->
    <!-- social media timeline -->
    <section>
        <div class="row" style="margin: 30px;">
            <div class="col-md-4">
                <a class="twitter-timeline" data-height="300" data-theme="light"
                   href="https://twitter.com/amritafoss?ref_src=twsrc%5Etfw">Tweets by amritafoss</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col-md-4">
                <div class="fb-page" data-href="https://www.facebook.com/FossatAmrita/" data-tabs="timeline"
                     data-height="300" data-small-header="false" data-adapt-container-width="true"
                     data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/FossatAmrita/" class="fb-xfbml-parse-ignore"><a
                            href="https://www.facebook.com/FossatAmrita/">FOSS at Amrita</a></blockquote>
                </div>
            </div>
        </div>
    </section>


    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- /social media timeline -->
{% endblock %}