{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- HERO -->
    <!-- HERO -->
    <section id="hero" class="module-hero js-fullheight">
        <div id="slides">

            <ul class="slides-container">

                <li class="bg-dark-90 bg-film">
                    <img src="{% static 'home/assets/images/mainbg.jpg' %}">

                    <!-- HERO TEXT -->
                    <div class="hero-caption">
                        <div class="hero-text">
                            <h6 class="m-b-30">amrita vishwa vidyapeetham</h6>
                            <h1 class="m-b-30">FOSS@Amrita</h1>
                            <h6 class="m-b-60">Code | Share | Grow</h6>
                            <a href="#LearnMore" class="btn btn-dark anim-scroll">Learn More</a>
                        </div>
                    </div>
                    <!-- /HERO TEXT -->
                </li>

                <li>
                    <img src="{% static 'home/assets/images/3.jpg' %}">

                    <!-- HERO TEXT -->
                    <div class="hero-caption">
                        <div class="hero-text">
                            <h1 class="m-b-30">Overall Achievements 2018</h1>
                            <a href="{% url 'achievements' %}" class="btn btn-dark anim-scroll">See More</a>
                        </div>
                    </div>
                    <!-- /HERO TEXT -->
                </li>

                <li>
                    <img src="{% static 'home/assets/images/2018-foss.jpg' %}">

                    <!-- HERO TEXT -->
                    <div class="hero-caption">
                        <div class="hero-text">
                            <h1 class="m-b-30">FOSS Club 2018</h1>
                            <a href="{% url 'profile_list' %}" class="btn btn-dark">See profile</a>
                        </div>
                    </div>
                    <!-- /HERO TEXT -->
                </li>

            </ul>

            <nav class="slides-navigation">
                <a href="#" class="next"><i class="fa fa-angle-right"></i></a>
                <a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
            </nav>

        </div>
    </section>
    <!-- /HERO -->

    <!-- Achievements -->
    <section>
        <hr>
        <div class="row" style="margin: 30px;">
            <div class="col-md-6">
                <b><h2 class="major">Our Presence.<br/></h2></b>
                <div class="tagcloud05" id="tagcloud">
                    <ul>
                        {% for tag in tags %}
                            <li><a href="#"><span>{{ tag }}</span></a></li>
                        {% endfor %}
                    </ul>
                    <br>

                    <a href="{% url 'timeline_list' %}"><h6 class="btn btn-dark anim-scroll" style="margin-left: 25%;">
                        See More..</h6></a>

                </div>
            </div>
            <div class="col-sm-6">

                <!-- ACCORDIONS -->
                <div id="accordion" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#support1">Events</a>
                            </h4>
                        </div>
                        <div id="support1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul>
                                    {% for event in events %}
                                        <li><a href="{% url 'workshop_detail' event.id %}">{{ event.name }}<br>
                                            <small>{{ event.overview }}</small>
                                        </a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#support2"
                                                       class="collapsed">Careers</a></h4>
                        </div>
                        <div id="support2" class="panel-collapse collapse">
                            <div class="panel-body">
                                One thing that is deeply rooted in the club is that FOSS@Amrita is helping its fellow
                                members get their foot in the door with the tech industry. Our members are hence able to
                                land a seat in the top universities abroad, boosting their career ahead. We are exposed
                                to various opportunities too, which give us a feel of what it's like to be working in
                                the industry for real.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#support3"
                                                       class="collapsed">Did you know?</a></h4>
                        </div>
                        <div id="support3" class="panel-collapse collapse">
                            <div class="panel-body">
                                FOSS@Amrita is one of the oldest student community at Amrita University. This club has
                                been active throughout 10 years. FOSS@Amrita is the only university club that follows a
                                culture where juniors are mentored by seniors. Moreover, the university club provides
                                better emphasis on molding the students in a better human being with strong and
                                versatile technical skillset.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ACCORDIONS -->

            </div><!-- .col-* -->

        </div>
    </section>
    <!-- /Achievements -->

    <!-- COUNTERS -->
    <section class="module bg-dark-30">
        <div class="container-fluid container-custom">

            <div class="row">

                <!-- COUNTER -->
                <div class="col-md-3">
                    <div class="counter text-light">
                        <div class="counter-icon">
                            <span class="icon-trophy"></span>
                        </div>
                        <div class="counter-header">
                            <h4 class="counter-title">
                                <span class="counter-timer" data-from="0" data-to="10">0</span><span>+</span>
                            </h4>
                        </div>
                        <div class="counter-content">
                            <h6>Years since inception</h6>
                        </div>
                    </div>
                </div>
                <!-- /COUNTER -->

                <!-- COUNTER -->
                <div class="col-md-3">
                    <div class="counter text-light">
                        <div class="counter-icon">
                            <span class=" icon-mic"></span>
                        </div>
                        <div class="counter-header">
                            <h4 class="counter-title">
                                <span class="counter-timer" data-from="0" data-to="15">0</span><span>+</span>
                            </h4>
                        </div>
                        <div class="counter-content">
                            <h6>International talks</h6>
                        </div>
                    </div>
                </div>
                <!-- /COUNTER -->

                <!-- COUNTER -->
                <div class="col-md-3">
                    <div class="counter text-light">
                        <div class="counter-icon">
                            <span class="icon-genius"></span>
                        </div>
                        <div class="counter-header">
                            <h4 class="counter-title">
                                <span class="counter-timer" data-from="0" data-to="50">0</span><span>+</span>
                            </h4>
                        </div>
                        <div class="counter-content">
                            <h6>Google Summer of Codes</h6>
                        </div>
                    </div>
                </div>
                <!-- /COUNTER -->

                <!-- COUNTER -->
                <div class="col-md-3">
                    <div class="counter text-light">
                        <div class="counter-icon">
                            <span class=" icon-linegraph"></span>
                        </div>
                        <div class="counter-header">
                            <h4 class="counter-title">
                                <span class="counter-timer" data-from="0" data-to="80">0</span><span>+</span>
                            </h4>
                        </div>
                        <div class="counter-content">
                            <h6>Alumni Abroad</h6>
                        </div>
                    </div>
                </div>
                <!-- /COUNTER -->

            </div>

        </div>
    </section>
    <!-- /COUNTERS -->

    <!-- Who we are -->
    <section id="LearnMore">
        <br>
        <div class="row" style="margin: 30px;">
            <div class="col-md-4">
                <b><h2 class="major">Why you should be here.<br/></h2></b>
                <p>Do you have that drive to work hard to reach heights and thrive for good causes? Then this is the
                    place you should be. Our training and guidance have landed our alumni in the best places to work all
                    over the world. More than that we work as a team to bring about some difference in socially relevant
                    issues.
                </p>
            </div>
            <div class="col-md-4">
                <b><h2 class="major">What we do.<br></h2></b>
                <p>The solid training given by the club to its students is one of a kind. With one of the highest
                    numbers of Google Summer of Codes from a university in India, our students excel in all aspects of
                    Computer Science and Engineering. We give emphasis on what the industry really requires and instill
                    the skills that the classrooms do not provide in students.
                </p>
            </div>
            <div class="col-md-4">
                <h2 class="major">The Fun!</h2>
                <p>This is not a mere technical club. What we vision here is the wholesome development of students.Apart
                    from the social services, We organize exciting activities like debates, hackathons, and sports
                    sessions to improve your interpersonal skills, leadership qualities, presentation skills and of
                    course your physical abilities. Yes! A sound mind needs a sound body. So Welcome aboard!
                </p>
            </div>
        </div>
        <hr>
    </section>
    <!-- Who we are -->
    <!-- CLIENTS -->
    <b><u><h1 class="major" style="margin: 30px;">Our patrons<br/></h1></u></b>

    <section class="module-sm bg-gray">
        <div class="container-fluid container-custom">

            <div class="row">

                <!-- Owl-carousel start -->
                <div class="slider-clients owl-carousel text-center">

                    <!-- Client logo start -->
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="client-item">
                                <a href="http://bi0s.in/"><img src="{% static 'home/assets/images/bi0s.png' %}"></div>
                            </a>
                        </div>
                    </div>
                    <!--  Client logo end -->

                    <!-- Client logo start -->
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="client-item">
                                <br><br>
                                <a href="https://www.amrita.edu/"><img
                                        src="{% static 'home/assets/images/college-logo.png' %}"></div>
                            </a>
                        </div>
                    </div>
                    <!--  Client logo end -->


                </div>
                <!-- Owl-carousel end -->

            </div>

        </div>
    </section>
    <!-- /CLIENTS -->
    <!-- social media timeline -->
    <section>
        <div class="row" style="margin: 30px;">
            <div class="col-md-4">
                <a class="twitter-timeline" data-height="350" data-theme="light"
                   href="https://twitter.com/amfoss_?ref_src=twsrc%5Etfw">Tweets by amritafoss</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col-md-4">
                <div class="fb-page" data-href="https://www.facebook.com/amfoss.in/" data-tabs="timeline"
                     data-height="350" data-small-header="false" data-adapt-container-width="true"
                     data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/FossatAmrita/" class="fb-xfbml-parse-ignore"><a
                            href="https://www.facebook.com/FossatAmrita/">FOSS at Amrita</a></blockquote>
                </div>
            </div>
            <div class="col-md-4">
                <iframe src="https://calendar.google.com/calendar/embed?src=fjkibrc7ue6lju9nohl6r1v1s0%40group.calendar.google.com&ctz=Asia%2FCalcutta"
                        style="border: 0" width="350" height="350" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </section>


    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- /social media timeline -->
{% endblock %}