{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- HERO -->
    <!-- HERO -->
    <section id="hero" class="module-hero js-fullheight">
        <div id="slides">

            <ul class="slides-container">

                <li class="bg-dark-90 bg-film">
                    <img src="{% static 'home/assets/images/mainbg.jpg' %}">

                    <!-- HERO TEXT -->
                    <div class="hero-caption">
                        <div class="hero-text">
                            <h6 class="m-b-30">amrita vishwa vidyapeetham</h6>
                            <h1 class="m-b-30">FOSS@Amrita</h1>
                            <h6 class="m-b-60">Code | Share | Grow</h6>
                            <a href="#portfolio" class="btn btn-dark anim-scroll">Learn More</a>
                        </div>
                    </div>
                    <!-- /HERO TEXT -->
                </li>

                <li>
                    <img src="{% static 'home/assets/images/3.jpg' %}">

{#                    <!-- HERO TEXT -->#}
{#                    <div class="hero-caption">#}
{#                        <div class="hero-text">#}
{#                            <h6 class="m-b-30">Text 1</h6>#}
{#                            <h1 class="m-b-30">Text 2</h1>#}
{#                            <h6 class="m-b-60">Text 3</h6>#}
{#                            <a href="about.html" class="btn btn-dark anim-scroll">About</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- /HERO TEXT -->#}
                </li>

                <li>
                    <img src="assets/images/module-6.jpg" alt="">

                    <!-- HERO TEXT -->
                    <div class="hero-caption">
                        <div class="hero-text">
                            <h6 class="m-b-30">Text 1</h6>
                            <h1 class="m-b-30">Text 2</h1>
                            <h6 class="m-b-60">Text 3</h6>
                            <a href="portfolio-single.html" class="btn btn-dark">See more</a>
                        </div>
                    </div>
                    <!-- /HERO TEXT -->
                </li>

            </ul>

            <nav class="slides-navigation">
                <a href="#" class="next"><i class="fa fa-angle-right"></i></a>
                <a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
            </nav>

        </div>
    </section>
    <!-- /HERO -->

    <!-- Achievements -->
    <section>
        <hr>
        <div class="row" style="margin: 30px;">
            <div class="col-md-6">
                <b><h2 class="major">Our Presence.<br/></h2></b>
                <div class="tagcloud05" id="tagcloud">
                    <ul>
                        {% for tag in tags %}
                            <li><a href="#"><span>{{ tag }}</span></a></li>
                        {% endfor %}
                    </ul>
                    <br>

                    <a href="{% url 'timeline_list' %}"><h6 class="btn btn-dark anim-scroll" style="margin-left: 25%;">
                        See More..</h6></a>

                </div>
            </div>
            <div class="col-sm-6">

						<!-- ACCORDIONS -->
						<div id="accordion" class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#support1">Events</a></h4>
								</div>
								<div id="support1" class="panel-collapse collapse in">
									<div class="panel-body">
										<ul>
                                            {% for event in events %}
                                            <li><a href="{%  url 'workshop_detail' event.id %}">{{ event.name }}<br><small>{{ event.overview }}</small></a></li>
                                            {% endfor %}
                                        </ul>
									</div>
								</div>
							</div>

                            	<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#support2" class="collapsed">Careers</a></h4>
								</div>
								<div id="support2" class="panel-collapse collapse">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#support3" class="collapsed">Did you know?</a></h4>
								</div>
								<div id="support3" class="panel-collapse collapse">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
						</div>
						<!-- /ACCORDIONS -->

					</div><!-- .col-* -->
        </div>
    </section>
    <!-- /Achievements -->

    <!-- COUNTERS -->
    <section class="module bg-dark-30">
        <div class="container-fluid container-custom">

            <div class="row">

                <!-- COUNTER -->
                <div class="col-md-3">
                    <div class="counter text-light">
                        <div class="counter-icon">
                            <span class="icon-trophy"></span>
                        </div>
                        <div class="counter-header">
                            <h4 class="counter-title">
                                <span class="counter-timer" data-from="0" data-to="10">0</span><span>+</span>
                            </h4>
                        </div>
                        <div class="counter-content">
                            <h6>Years since inception</h6>
                        </div>
                    </div>
                </div>
                <!-- /COUNTER -->
                
                                <!-- COUNTER -->
                <div class="col-md-3">
                    <div class="counter text-light">
                        <div class="counter-icon">
                            <span class=" icon-mic"></span>
                        </div>
                        <div class="counter-header">
                            <h4 class="counter-title">
                                <span class="counter-timer" data-from="0" data-to="15">0</span><span>+</span>
                            </h4>
                        </div>
                        <div class="counter-content">
                            <h6>International talks</h6>
                        </div>
                    </div>
                </div>
                <!-- /COUNTER -->

                <!-- COUNTER -->
                <div class="col-md-3">
                    <div class="counter text-light">
                        <div class="counter-icon">
                            <span class="icon-genius"></span>
                        </div>
                        <div class="counter-header">
                            <h4 class="counter-title">
                                <span class="counter-timer" data-from="0" data-to="50">0</span><span>+</span>
                            </h4>
                        </div>
                        <div class="counter-content">
                            <h6>Google Summer of Codes</h6>
                        </div>
                    </div>
                </div>
                <!-- /COUNTER -->

                <!-- COUNTER -->
                <div class="col-md-3">
                    <div class="counter text-light">
                        <div class="counter-icon">
                            <span class=" icon-linegraph"></span>
                        </div>
                        <div class="counter-header">
                            <h4 class="counter-title">
                                <span class="counter-timer" data-from="0" data-to="80">0</span><span>+</span>
                            </h4>
                        </div>
                        <div class="counter-content">
                            <h6>Alumni Abroad</h6>
                        </div>
                    </div>
                </div>
                <!-- /COUNTER -->

            </div>

        </div>
    </section>
    <!-- /COUNTERS -->

    <!-- Who we are -->
    <section>
        <br>
        <div class="row" style="margin: 30px;">
            <div class="col-md-4">
                <b><h2 class="major">Why you should be here.<br/></h2></b>
                <p>Do you have that drive to work hard to reach heights and thrive for good causes? Then this is the place you should be. Our training and guidance have landed our alumni in the best places to work all over the world. More than that we work as a team to bring about some difference in socially relevant issues.
                </p>
            </div>
            <div class="col-md-4">
                <b><h2 class="major">What we do.<br></h2></b>
                <p>The solid training given by the club to its students is one of a kind. With one of the highest numbers of Google Summer of Codes from a university in India, our students excel in all aspects of Computer Science and Engineering. We give emphasis on what the industry really requires and instill the skills that the classrooms do not provide in students.  
                </p>
            </div>
            <div class="col-md-4">
                <h2 class="major">The Fun!</h2>
                <p>This is not a mere technical club. What we vision here is the wholesome development of students.Apart from the social services, We organize exciting activities like debates, hackathons, and sports sessions to improve your interpersonal skills, leadership qualities, presentation skills and of course your physical abilities. Yes! A sound mind needs a sound body. So Welcome aboard!
                </p>
            </div>
        </div>
        <hr>
    </section>
    <!-- Who we are -->

    <!-- PORTFOLIO -->
    <section id="portfolio" class="module-sm" style="margin-top: -50px;">
        <div class="container-fluid">
            <!-- FILTERS -->
            <div class="row">
                <div class="col-sm-12">

                    <ul id="filters" class="filters font-alt">
                        <li><a href="#" class="current" data-filter=".fashion">Mentors</a></li>
                        <li><a href="#" data-filter=".travel">Areas</a></li>
                        <!-- <li><a href="#" data-filter=".music">Music</a></li> -->
                        <li><a href="#" data-filter=".video">Interests</a></li>
                    </ul>
                </div>
            </div>
            <!-- /FILTERS -->

            <div class="works-grid-wrapper">

                <div id="works-grid" class="works-grid works-grid-gutter">

                    <!-- Mentor Section -->
                    <article class="work-item fashion">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="{% static 'home/assets/images/vipin1.jpg' %}" alt="">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title font-alt">VIPIN P</h3>
                                <span class="work-category font-serif"><a href="#">Chief Mentor</a></span>
                            </div>
                            <a href="#" class="work-link"></a>
                        </div>
                    </article>

                    <article class="work-item fashion">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="{% static 'home/assets/images/bithin1.jpg' %}" alt="">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title font-alt">BITHIN ALANGOT</h3>
                                <span class="work-category font-serif"><a href="#">Mentor</a></span>
                            </div>
                            <a href="#" class="work-link"></a>
                        </div>
                    </article>

                    <article class="work-item fashion">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="{% static 'home/assets/images/arvind.jpg' %}" alt="">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title font-alt">ARVIND S RAJ</h3>
                                <span class="work-category font-serif"><a href="#">Mentor</a></span>
                            </div>
                            <a href="#" class="work-link"></a>
                        </div>
                    </article>
                    <!-- /Mentor Section -->

                    <!-- PORTFOLIO ITEM -->
                    <!-- <article class="work-item music">
                                <div class="work-wrapper">
                                    <div class="work-thumbnail">
                                        <img src="{% static 'home/assets/images/portfolio-2.jpg' %}" alt="">
                                    </div>
                                    <div class="work-caption">
                                        <h3 class="work-title font-alt">Pink Lips</h3>
                                        <span class="work-category font-serif"><a href="#">Music</a></span>
                                    </div>
                                    <a href="portfolio-single-1.html" class="work-link"></a>
                                </div>
                            </article> -->
                    <!-- /PORTFOLIO ITEM -->

                    <!-- Areas Section -->
                    <article class="work-item travel">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="{% static 'home/assets/images/webdev.jpg' %}" alt="">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title font-alt">Web Development</h3>
                                <span class="work-category font-serif"><a href="#">Full stack web application development</a></span>
                            </div>
                            <a href="portfolio-single-1.html" class="work-link"></a>
                        </div>
                    </article>
                    <!-- /PORTFOLIO ITEM -->

                    <!-- PORTFOLIO ITEM -->
                    <article class="work-item travel">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="{% static 'home/assets/images/soft.jpg' %}" alt="">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title font-alt">Desktop Application Development</h3>
                                <span class="work-category font-serif"><a
                                        href="#">Unix/ Linux Application development</a></span>
                            </div>
                            <a href="portfolio-single-1.html" class="work-link"></a>
                        </div>
                    </article>
                    <!-- /PORTFOLIO ITEM -->

                    <!-- PORTFOLIO ITEM -->
                    <article class="work-item travel">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="{% static 'home/assets/images/androiddev.png' %}" alt="">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title font-alt">Andriod Development</h3>
                                <span class="work-category font-serif"><a href="#"></a></span>
                            </div>
                            <a href="portfolio-single-1.html" class="work-link"></a>
                        </div>
                    </article>
                    <!-- /Areas Section -->

                    <!-- Interests Section -->
                    <article class="work-item video">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="{% static 'home/assets/images/iot-2.jpg' %}" alt="">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title font-alt">Internet of Things</h3>
                                <span class="work-category font-serif"><a href="#"></a></span>
                            </div>
                            <a href="portfolio-single-1.html" class="work-link"></a>
                        </div>
                    </article>
                    <!-- /PORTFOLIO ITEM -->

                    <!-- PORTFOLIO ITEM -->
                    <article class="work-item video">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="{% static 'home/assets/images/Data-Science.jpg' %}" alt="">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title font-alt">Data Science</h3>
                                <span class="work-category font-serif"><a href="#"></a></span>
                            </div>
                            <a href="portfolio-single-1.html" class="work-link"></a>
                        </div>
                    </article>
                    <!-- /PORTFOLIO ITEM -->

                    <!-- PORTFOLIO ITEM -->
                    <article class="work-item video">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="{% static 'home/assets/images/blockchain.png' %}" alt="">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title font-alt">Crypto Currency</h3>
                                <span class="work-category font-serif"><a href="#"></a></span>
                            </div>
                            <a href="portfolio-single-1.html" class="work-link"></a>
                        </div>
                    </article>
                    <!-- /Interests Section -->

                    <!-- PORTFOLIO ITEM -->
                    <!-- <article class="work-item music">
                        <div class="work-wrapper">
                            <div class="work-thumbnail">
                                <img src="assets/images/portfolio-5.jpg" alt="">
                            </div>
                            <div class="work-caption">
                                <h3 class="work-title font-alt">Workshop</h3>
                                <span class="work-category font-serif"><a href="#">Music</a></span>
                            </div>
                            <a href="portfolio-single-1.html" class="work-link"></a>
                        </div>
                    </article> -->
                    <!-- /PORTFOLIO ITEM -->


                </div>

            </div><!-- works-grid-wrapper -->

            <!-- SHOW MORE -->
            <!-- <div class="row">
                <div class="col-sm-12">

                    <div class="m-t-70 text-center">
                        <button id="show-more" class="btn btn-dark show-more">More works</button>
                    </div>

                </div>
            </div> -->
            <!-- /SHOW MORE -->

        </div>
    </section>
    <!-- /PORTFOLIO -->
    <!-- social media timeline -->
    <section>
        <div class="row" style="margin: 30px;">
            <div class="col-md-4">
                <a class="twitter-timeline" data-height="300" data-theme="light"
                   href="https://twitter.com/amritafoss?ref_src=twsrc%5Etfw">Tweets by amritafoss</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col-md-4">
                <div class="fb-page" data-href="https://www.facebook.com/FossatAmrita/" data-tabs="timeline"
                     data-height="300" data-small-header="false" data-adapt-container-width="true"
                     data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/FossatAmrita/" class="fb-xfbml-parse-ignore"><a
                            href="https://www.facebook.com/FossatAmrita/">FOSS at Amrita</a></blockquote>
                </div>
            </div>
        </div>
    </section>


    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- /social media timeline -->
{% endblock %}