language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev"  # 3.5 development branch
  - "3.6"
  - "3.6-dev"  # 3.6 development branch
  - "3.7-dev"  # 3.7 development branch
  - "nightly"
# command to install dependencies
install:
  - pip install -r requirements.txt
  # Enviornments
env:
  - DJANGO=1.11 DB=mysql
# command to run tests
script:
  - python manage.py test # or py.test for Python versions 3.5 and below
