{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Categories</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <!-- category -->
    <section class="module">
    <div class="container" align="center">
        <div class="row">
            <div class="card col-md-12">
                <div class="card-block">
                    <h1 class="card-title">Resources</h1>
                    <hr>
                    <div class="row">
                        {% for object in object_list %}
                            <div class="col-md-4">
                                <div class="card">
                                    {% if object.image %}
                                        <img class="card-img-top img-fluid"
                                             src="/static/media/{{ object.image }}">
                                    {% else %}
                                        <img class="card-img-top img-fluid"
                                             src="{% static 'technical_resource/images/default.png' %}">
                                    {% endif %}
                                    <div class="card-block">
                                        <h3 class="card-title">{{ object.name }}</h3>
                                        <p class="card-text">{{ object.description }}</p>
                                        <a href="{% url 'category_detail' object.id %}"
                                           class="btn btn-primary">More info
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% if request.user.is_authenticated %}

                            <div class="col-md-12">
                            <br><br>
                                <div class="container">
                                    <a href="{% url 'category_create' %}">
                                        <button class="btn btn-dark anim-scroll">Add new</button>
                                    </a>
                                </div>
                            </div>

                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}










