{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Categories</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <!-- category -->
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <h2 class="card-title col-md-12">Successfully added <i class="fa fa-check"></i></h2>
                            <h5 class="card-subtitle col-md-12 mb-2 text-muted">Thank you</h5>
                            <p class="card-text col-md-8">
                                Please check your mail for more details.
                                You can read more about the club
                                <a href="{% url 'foss_intro' %}">here</a>, or take a look at our achievements
                                <a href="{% url 'achievements' %}">here</a>.
                            </p>
                            <div class="col-md-12">
                                <a href="{% url 'foss_intro' %}" class="card-link">About us</a>
                                <a href="{% url 'achievements' %}" class="card-link">Achievements</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}