{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Success</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <br><br>

    <div class="container" align="center">
        <div class="row">
            <div class="container">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <h2 class="card-title col-md-12">Registration successful <i class="fa fa-check"></i></h2>
                            <h5 class="card-subtitle col-md-12 mb-2 text-muted">
                                Please check your mail for more instructions, Thank you</h5>
                            <div class="col-md-12">
                                <a href="{% url 'about' %}" class="btn btn-dark anim-scroll">About us</a>
                                <a href="{% url 'achievements' %}" class="btn btn-dark anim-scroll">Achievements</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
