{% extends 'base/base.html' %}
{% load static %}
{% load index %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Workshops</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <div class="container">
        <div class="row">
            <br><br>

            <div style ="padding :30px " class="card-block">
                <h1 class="card-title">Workshops</h1>

                {% if request.user.is_superuser %}
                    <a href="{% url 'workshop_create' %}">
                        <button class="btn btn-primary">Create</button>
                    </a>
                {% endif %}

                <hr>
                <div class="row">
                    {% for workshop in workshops %}
                        <div class="col-md-4">
                            <div class="card_display">
                              <div class="front">
                                {% if workshop.0.poster %}
                                    <img class="card-image img-fluid img-{{ workshop.0.id }}"
                                         src="/static/media/{{ workshop.0.poster }}" onerror=this.src="{% static 'workshop/default.png' %}">
                                {% else %}
                                    <img class="card-image img-fluid"
                                         src="{% static 'workshop/default.png' %}">
                                {% endif %}
                                <div class="card-block">
                                   <center><h3 style="padding: 4px;">{{ workshop.0.name }}</h3><center>
                                </div>
                              </div>
                              <div class="back">
                                <div class="card-block" style="padding:2%;">
                                    <h3 style="padding: 10px " class="card-title">{{ workshop.0.name }}</h3>
                                    <p style="padding: 10px " class="card-text">{{ workshop.0.overview | truncatechars:40 }}</p>
                                    <a href="{% url 'workshop_detail' workshop.0.id %}"
                                       class="btn btn-dark anim-scroll">More info
                                    </a>
                                    {% ifequal workshop.1 0 %}
                                        <a class="btn btn-danger">Closed registration</a>
                                    {% else %}
                                        <a class="btn btn-success">
                                            Open to register</a>
                                    {% endifequal %}
                                </div>
                              </div>
                            </div>
                        </div>
                        {% ifequal workshop.1 0 %}
                            <style>
                                .img{{ workshop.0.pk }} {
                                    filter: blur(1px) brightness(0.8);
                                }
                            </style>
                        {% endifequal %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
