{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Blog posts</h1>
                <p class="hero-subtitle font-serif">Our latest news &amp; articles of all the foss members</p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <!-- BLOG -->
    <section class="module">
        <div class="container-fluid container-custom">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    {% for article in object_list %}

                        <!-- POST -->
                        <article class="post">
                            <div class="post-header">
                                <h2 class="post-title font-alt"><a href="{{ article.url }}"> →{{ article.title }}</a>
                                </h2>
                                <div class="post-meta">
                                    Published by <a href="#"> {{ article.author }}</a> at {{ article.publication_date }}
                                </div>
                            </div>
                            <div class="post-content">
                                <p>{{ article.description | safe }}</p>
                            </div>
                        </article>
                        <!-- POST -->

                    {% endfor %}

                    <!-- PAGINATION -->
                    <div align="center">
                        {% if is_paginated %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                                </li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %} {% endfor %} {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                    <!-- /PAGINATION -->

                </div>
                <!-- .col-* -->
            </div>
            <!-- .row -->
        </div>
    </section>
    <!-- /BLOG -->
{% endblock %}
