{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Blog posts</h1>
                <p class="hero-subtitle font-serif">Our latest news &amp; articles of all the foss members</p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <!-- BLOG -->
    <section class="module">
        <div class="container-fluid container-custom">

            <div class="row">

                <div class="col-sm-8 col-sm-offset-2">


                    <!-- POST -->
                    <article class="post">
                        <div class="post-thumbnail">
                            <img src="assets/images/blog-1.jpg" alt="">
                        </div>
                        <div class="post-header">
                            <h2 class="post-title font-alt">All the Blog RSS feeds</h2>
                        </div>
                        <div class="post-content">
                            <ul>
                                {% for feed in feeds %}
                                    <li><a href="{{ feed.url }}">{{ feed.title }}</a></li>
                                {% endfor %}
                            </ul>


                            <ul class="filters font-alt">
                                <li><a href="{% url 'feed_new' %}" class="current">Add feed</a></li>
                            </ul>

                        </div>
                    </article>
                    <!-- POST -->

                </div>
                <!-- .col-* -->

            </div>
            <!-- .row -->

        </div>
    </section>
    <!-- /BLOG -->
{% endblock %}