{% extends 'base/base.html' %}
{% load static %}
{% load field_type %}
{% block content %}
{#<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">#}
{#<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">#}
<script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">{{ heading }}</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <!-- BLOG -->
    <div class="notifications">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                        {{ field.label }}: {{ error|escape }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <section class="module">
        <div class="container-fluid container-custom">

            <div class="row">

                <div class="col-sm-8 col-sm-offset-2">

                    <article class="post" align="center">
                        <div class="post-header">
                            <h2 class="post-title font-alt">Add the details</h2>
                        </div>
                        <div class="post-content">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        <small class="form-text text-muted">
                                            {{ field.help_text }}
                                        </small>
                                    </div>
<script type="text/javascript">
    $(function () {
        $('.datetimepicker6').datetimepicker({
{#            format: 'YYYY-MM-DD HH:MM:SS'#}
        });
        $('.datetimepicker7').datetimepicker({
            useCurrent: false, //Important! See issue #1075
{#            format: 'YYYY-MM-DD HH:MM:SS'#}
        });
        $(".datetimepicker6").on("dp.change", function (e) {
            $('.datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $(".datetimepicker7").on("dp.change", function (e) {
            $('.datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
                                {% endfor %}
                                <center>
                                    <ul id="filters" class="filters font-alt">
                                        <button type="submit">Save</button>
                                    </ul>
                                </center>
                            </form>
                        </div>
                    </article>

                </div>
                <!-- .col-* -->

            </div>
            <!-- .row -->

        </div>
    </section>

{% endblock %}
