{% load static %}

<!-- SIDEBAR -->
<div id="toggle_button" class="fa fa-bars"></div>
<div id="sidebar" class="animated">
    <nav class="navbar navbar-custom font-alt">
        <div class="navbar-header">
            <a id="sidebar-logo" href={% url 'home' %}>
                <img src="{% static 'home/assets/images/branding/logo_light.png' %}" alt="">
            </a>
        </div>

            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li id="open-inside-foss" class="sidebar-dropdown">
                    <a href="#">Inside FOSS</a>
                    <span class="fa fa-chevron-down"></span>
                    <ul class="animated fadeOut" style="display:none;" role="menu">
                        <li><a href="/BlogFeedAggregator">blog posts</a></li>
                        <li><a href="{% url 'timeline_list' %}">Timeline</a></li>
                        {% if request.user.is_authenticated %}
                          <li><a href="{% url 'club' %}">Club</a></li>
                        {% endif %}
                        <li><a href="{% url 'team' %}">Teams</a></li>
                        <li><a href="{% url 'profile_list' %}">Members</a></li>
                        <li><a href="{% url 'achievements' %}">achievements</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'workshop_list' %}">Workshops</a></li>
                <li><a href="{% url 'project' %}">Projects</a></li>
                {% if not request.user.is_authenticated %}
                  <li><a href="{% url 'join' %}">Join us</a></li>
                  <li><a href="{% url 'about' %}">About Us</a></li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.username }}</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'profile' request.user.username %}">Profile</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <div id="sidebar-bottom">
                {% if not request.user.is_authenticated   %}
                   {% ifnotequal request.path '/accounts/login/' %}
                      <a class="login_button btn m-0 p-2" href="{% url 'login' %}?next={{ request.path }}">Login</a>
                  {% endifnotequal %}
                {% endif %}
                <div class="social_icons">
                    <a href="https://www.facebook.com/amfoss.in/?ref=br_rs" target="_blank" class="fa fa-facebook facebook"></a>
                    <a href="https://twitter.com/amritafoss" target="_blank" class="fa fa-twitter twitter"></a>
                    <a href="https://www.instagram.com/amfoss_/" target="_blank" class="fa fa-instagram instagram"></a>
                    <a href="https://plus.google.com/107405104458420547482" target="_blank" class="fa fa-google-plus google-plus"></a>
                    <a href="linkedin.com/amfoss" target="_blank" class="fa fa-linkedin linkedin"></a>
                    <a href="https://github.com/amfoss" target="_blank" class="fa fa-github github"></a>
                </div>
            </div>
        </div>
    </nav>



</div>
<!-- /SIDEBAR -->
