{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Applications</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->


    <br>


    <div id="wrap">

        <div id="main">
            <!-- content goes here -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-default">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Batch</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for object in object_list %}
                                <tr class="click"
                                    onclick="window.location='{% url 'join_detail' object.id %}';">
                                    <th scope="row">{{ object.name }}</th>
                                    <td>{{ object.email }}</td>
                                    <td>{{ object.batch }}</td>
                                    <td>{{ object.date }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <p class="text-muted">{{ count }} unapproved applications.</p>
                        <div class="buttons">
                            <div class="dropdown">
                                <button onclick="myFunction()" class="dropbtn"><i class="fa fa-calendar-o"></i> Year
                                    <span class="fa fa-caret-down"></span></button>
                                <div id="myDropdown" class="dropdown-content">
                                    <a href="#">Year</a>
                                    <span class="empty">&nbsp;</span>
                                    <a href="{% url 'join_list' %}?year=1">1st year</a>
                                    <a href="{% url 'join_list' %}?year=2">2nd year</a>


                                </div>
                            </div>
                            <a href="{% url 'join_list' %}?list=approved">
                                <button id="approve" class="btn btn-dark anim-scroll">Approved</button>
                            </a>
                            <a href="{% url 'join_list' %}?list=rejected">
                                <button id="reject" class="btn btn-danger card-link">Rejected</button>
                            </a>
                            <a href="{% url 'join_mail_all' %}">
                                <button class="btn btn-dark anim-scroll">Mail all</button>
                            </a>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
{% endblock %}
