{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Mail to All</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <div id="mail_form">
                                    <form method="post" action="">
                                        {% csrf_token %}
                                    <br>
                                        <h2 id="head">Mail to all applicants</h2>
                                        <small class="form-text text-muted">Not approved applications only</small>
                                        <hr>
                                        {% if error %}
                                            <div class="alert alert-danger" role="alert">
                                                <strong>Error!</strong> {{ error }}
                                            </div>
                                        {% endif %}
                                        <div class="form-group">
                                            <label for="to_list">To</label>
                                            <textarea rows="3" name="to_list" class="form-control"
                                                      placeholder="Mail id list" id="to_list">{{ to_list }}</textarea>
                                            <small class="form-text text-muted">
                                                Individual mail will be sent to each applicant
                                            </small>
                                        </div>

                                        <div class="form-group">
                                            <label for="cc_list">CC</label>
                                            <textarea rows="3" name="cc_list" class="form-control"
                                                      id="cc_list">{{ cc_list }}</textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="bcc_list">BCC</label>
                                            <textarea rows="3" name="bcc_list" class="form-control"
                                                      id="bcc_list">{{ bcc_list }}</textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="subject">Subject</label>
                                            <input type="text" class="form-control" name="mail_subject" id="subject"
                                                   value="{{ mail_subject }}" placeholder="Subject">
                                            <small class="form-text text-muted">
                                                Subject of the mail
                                            </small>
                                        </div>

                                        <div class="form-group">
                                            <label for="mail_content">Description</label>
                                            <textarea rows="10" name="mail_content" class="form-control"
                                                      id="mail_content" rows="5">{{ mail_content }}</textarea>
                                            <small class="form-text text-muted">
                                                Content of the mail
                                            </small>
                                        </div>
                                        <button id="submit-btn" type="submit" class="btn btn-dark anim-scroll">Send</button>
                                        <a href="{% url 'join_list' %}">
                                            <div class="btn btn-danger">Cancel</div>
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
