{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Mail Sent</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <div class="container">
        <div class="row">
            <div class="container">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <h2 class="card-title col-md-12">Mail sent successfully<i class="fa fa-check"></i></h2>
                            <hr>
                            <h5 class="col-md-12">To :</h5>
                            <p class="col-md-12">{{ to_list }}</p>

                            <h5 class="col-md-12">CC :</h5>
                            <p class="col-md-12">{{ cc_list }}</p>

                            <h5 class="col-md-12">BCC :</h5>
                            <p class="col-md-12">{{ bcc_list }}</p>

                            <h5 class="col-md-12">Subject :</h5>
                            <p class="col-md-12">{{ mail_subject }}</p>

                            <h5 class="col-md-12">Content :</h5>
                            <p class="col-md-12">{{ mail_content }}</p>


                            <small class="col-md-12 form-text text-muted">
                                Note: Content will be shown here as a single line, but will be send correctly.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
