{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Thank You</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <section class="module">
        <div style="margin-left: 100px" class="container">
                <div class="row">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-block">
                                    <h2 style="margin-left: 225px" class="card-title col-md-12">Application submitted <i class="fa fa-check"></i> </h2>
                                    <h5 style="margin-left: 300px" class="card-subtitle col-md-12 mb-2 text-muted">Thank you</h5>
                                    <p class="card-text col-md-8">
                                        We will get back to you as soon as we review your application.
                                        You can read more about the club
                                        <a href="{% url 'about' %}">here</a>, or take a look at our achievements
                                        <a href="{% url 'achievements' %}">here</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

{% endblock %}
