{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
         data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

    <!-- HERO TEXT -->
    <div class="hero-caption">
        <div class="hero-text">
            <h1 class="hero-title font-alt">Projects</h1>
            <p class="hero-subtitle font-serif"></p>
        </div>
    </div>
    <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <div class="container">
        <div class="row">
            <div class="card col-md-12">
                <div class="card-block">
                    <div class="row">
                        {% if request.user.is_authenticated %}
                            <div class="col-md-4" align="right">
                                <a href="{% url 'project_create' %}"><i class="fa fa-plus-circle fa-4x"></i></a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        {% for object in object_list %}
                            <div class="col-md-6">
                                <div class="card">
                                    {% if object.image %}
                                        <img class="card-img-top img-fluid" src="/static/media/{{ object.image }}">
                                    {% else %}
                                        <img class="card-img-top img-fluid"
                                             src="{% static 'projects/images/default.png' %}">
                                    {% endif %}
                                    <div class="card-block">
                                        <h3 class="card-title">{{ object.title }}</h3>
                                        <p class="card-text">{{ object.description }}</p>
                                        <center><a href="{% url 'project_detail' object.id %}"
                                                   class="btn btn-dark anim-scroll">More info</a></center>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
