{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
         data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

    <!-- HERO TEXT -->
    <div class="hero-caption">
        <div class="hero-text">
            <h1 class="hero-title font-alt">{{ object.title }}</h1>
            <p class="hero-subtitle font-serif"></p>
        </div>
    </div>
    <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <div class="container">
        <div class="row" align="center">
            <div>
                <p><br></p>
            </div>
            <p class="card mb-3">
                {% if object.image %}
                    <img class="card-img-top img-fluid" src="static/media/{{ object.image }}">
                {% else %}
                    <img class="card-img-top img-fluid" src="{% static 'projects/images/default.png' %}">
                {% endif %}
                <p><h3 class="head col-md-12"><strong>Details</strong></h3></p>
                <div class="card-block">
                    <h4 class="card-text">{{ object.description }}</h4>
                    <h5 class="card-text">Link: <a href="{{ object.url }}">{{ object.url }}</a></h5>
                    <h4 class="card-text">
                        <small class="text-muted">
                            Added by : {{ object.created_by.first_name }} {{ object.created_by.last_name }},
                            {{ object.date }}
                        </small>
                    </h4>
                    {% if edit_permission %}
                        <a href="{% url 'project_update' object.id %}">
                            <button type="submit" class="btn btn-dark anim-scroll">Update</button>
                        </a>
                        <a href="{% url 'project_delete' object.id %}">
                            <button type="submit" class="btn btn-danger add-btn">Delete</button>
                        </a>
                        <a href="{% url 'screenshot_list' object.id %}">
                            <button type="submit" class="btn btn-dark anim-scroll">View Screenshots</button>
                        </a>
                    {% endif %}
                </div>
            </div>


            <br><br>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    <div class="margin-20"></div>
                    <li class="list-group-item justify-content-between">
                        <h5 style="text-align: center">Project members</h5>
                        <span class="badge badge-default badge-pill">{{ user_count }}</span>
                    </li>
                    {% for project in project_list %}
                        <li class="list-group-item justify-content-between">
                            {{ project.user.first_name }} {{ project.user.last_name }}
                            <form method="post" action="{% url "project_member_delete" project.id %}">
                                {% csrf_token %}
                                <button type="submit" class="close">×</button>
                            </form>
                        </li>
                    {% endfor %}
                    <br>
                    {% if edit_permission %}
                        <div onclick="showForm()" class="col-sm-offset-5">
                            <button class="btn btn-dark anim-scroll">
                                Add student
                            </button>
                        </div>

                    {% endif %}
                </ul>
                <br><br><br>

                <div class="card student-form" id="student-form" style="display: none">
                    <div class="card-block">
                        <form class="form-group col-md-6" action="" method="post">
                            {% csrf_token %}
                            <label for="exampleInputEmail1"><h4>Add Student</h4></label>
                            <div class="dropdown">
                                <div class="row">
                                    <div class="col-md-10">
                                        <input id="search" onkeyup="myFunction()" class="form-control"
                                               data-toggle="dropdown" placeholder="Search..." autocomplete="off">
                                        <input type="hidden" id="search-id" name="user_id">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-dark anim-scroll">Add</button>
                                    </div>
                                </div>

                                <div class="dropdown-menu" id="search-results">
                                    {% for user in all_users %}
                                        <p onclick="addText({{ user.id }}, '{{ user.first_name }} {{ user.last_name }}')"
                                           class="dropdown-item">{{ user.first_name }} {{ user.last_name }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <small id="emailHelp" class="form-text text-muted">Search for a student above.
                            </small>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item justify-content-between">
                        <h5 style="text-align: center">Languages & Frameworks</h5>
                    </li>
                    {% for i in languages %}

                        <li class="list-group-item justify-content-between">
                        <h6>{{ i.language }}</h6><br>
                        <form method="post" action="{% url "language_delete" i.id %}">
                            {% csrf_token %}
                            <button type="submit" class="close">×</button>
                        </form>
                    {% endfor %}
                    </li>
                    {% if edit_permission %}
                        <br>
                        <div class="col-sm-offset-5">
                            <a href="{% url 'language_create' object.id %}">
                                    <button class="btn btn-dark anim-scroll">Add Language</button>
                            </a>
                        </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
