{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Remove project</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <section class="module">
        <div class="container-fluid container-custom">

            <div class="row">

                <div class="col-sm-8 col-sm-offset-2">

                    <article class="post" align="center">
                        <div class="post-header">
                            <h2 class="post-title font-alt">Delete the selected project?</h2>
                        </div>
                        <div class="post-content">
                            <form class="card" action="" method="post">
                                <div class="card-block">
                                    {% csrf_token %}
                                    <h2 class="post-title font-alt">Delete {{ object.title }}?</h2>
                                    <button type="submit" class="btn btn-danger">Yes, continue</button>
                                </div>
                            </form>
                            <br>
                            <a href="{% url 'project_detail' object.id %}">
                                <button class="btn btn-dark anim-scroll">No, take me out of here</button>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
