{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Create Project</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <div class="notifications">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                        {{ field.label }}: {{ error|escape }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <section class="module">
        <div class="container-fluid container-custom">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <article class="post">
                        <div class="post-header" align="center">
                            <h1 class="post-title font-alt">Add project info</h1>
                        </div>
                        <div>
                            <p><br></p>
                        </div>
                        <div class="post-content">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="name">Title</label>
                                    <input type="text" class="form-control" name="title" id="name"
                                           value="{{ object.title }}" placeholder="Title" style="text-transform:none">
                                </div>
                                <div class="form-group">
                                    <label for="url">Project Url</label>
                                    <div>
                                    <input type="text" class="form-control" name="url" id="url"
                                           value="{{ object.url }}" placeholder="Url" style="text-transform:lowercase">
                                    </div>
                                </div>
                                <label for="file">
                                    Image
                                    {% if object.image %}
                                        : {{ object.image }}
                                    {% endif %}
                                </label><br>
                                <div class="custom-file form-group">
                                    <input type="file" name="image" id="file" class="form-control" style="text-transform:none">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea id="description" name="description" class="form-control"
                                              placeholder="Description" rows="5"{{ object.description }}>
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <label for="date">Date</label>
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input id="date" name="date" value="{{ object.date|date:'y-m-d' }}"
                                               type='text' placeholder="YYYY-MM-DD" class="form-control"/>
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-offset-1" align="center">
                                <button type="submit" class="btn btn-dark anim-scroll">Submit</button>
                                </div>
                            </form>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
