{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">
        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Project Screenshots</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->
    </section>
    <!-- /HERO -->

    <div class="notifications">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                        {{ field.label }}: {{ error|escape }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <section class="module">
        <div class="container-fluid container-custom">
            <div class="row">
                <div class="col-sm-offset-3" align="center">
                    <article class="post" align="center">
                        <div class="post-header">
                            <h1 class="post-title font-alt">Add project Screenshots</h1>
                        </div>
                        <div>
                            <p><br></p>
                        </div>
                        <div class="post-content">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="custom-file form-group">
                                    <input type="file" name="image" id="file" class="form-control">
                                </div>
                                <br>
                                <br>
                                <button type="submit" class="btn btn-dark anim-scroll">Submit</button>
                            </form>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
