/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flexslidera-portfolio:hover a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none; }
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;  }
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider div {-webkit-backface-visibility: hidden; }
.flexslider .slides img {width: 100%;  display:block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: ""; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider { min-height:40px; margin: 0 0 0;  position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -o-box-shadow: 0 1px 4px #ddd; zoom: 1;}
.flexslider-nav-space{ margin:0 0 24px;}
.flexslidera-portfolio { min-height:200px; margin: 0 0 60px; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides, .flexslidera-portfolio .slides {zoom: 1;}
/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a { border-radius:10%; -webkit-backface-visibility: hidden; height:22px; width:26px; margin: -14px 0 0; display: block;  position: absolute; top: 50%; cursor: pointer;  opacity: 0; z-index:2;  font-family: FontAwesome, Open Sans!important;}
.flex-direction-nav .flex-next, .flex-direction-nav .flex-prev { font-size:12px; line-height:18px!important; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; -ms-transition: all 1s ease; transition: all 1s ease; padding-top:5px; color:#fff;   right: -36px; margin-right:2px; }



.flex-direction-nav .flex-prev {left: -36px;margin-left:2px;}

.circle-img .flex-direction-nav .flex-next {margin-right:18px;  border-radius:50%; }
.circle-img .flex-direction-nav .flex-prev {margin-left:18px;  border-radius:50%;}

.flexslider:hover .flex-next, .flexslidera-portfolio:hover .flex-next {opacity: 1; right: 10px!important; }
.flexslider:hover .flex-prev, .flexslidera-portfolio:hover .flex-prev {opacity: 1; left: 10px!important;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover, .flexslidera-portfolio:hover .flex-next:hover, .flexslidera-portfolio:hover .flex-prev:hover, {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: 0!important; filter:alpha(opacity=0);  cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; height:30px; position: absolute; bottom: 0px; text-align: center; background-color:rgba(255,255,255,0.3);}
.blackbody .flex-control-nav {background-color:rgba(0,0,0,0.3);}
.flex-control-nav li {margin: 10px 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: #7c77a6; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: #565084; }
.flex-control-paging li a.flex-active { background: #000; background: #565084; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden; }
.flex-control-thumbs li {width: 25%; float: left; margin: 0; }
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 530px) {
  /*.flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}*/
}