

#styles-switcher {
	position: fixed;
	width: 290px;
	z-index: 90;
	right:-250px;
	
	padding-bottom: 10px;
	top: 90px;
	
	
}


#sc-content {
	background: rgba(0,0,0,0.6);
	width: 240px;
	display: block;
	position: relative;
	z-index: 5;
	float: left;
	margin-left:-6px;
	
	-webkit-backface-visibility: hidden;
/*	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 0 4px rgba(0, 0, 0, 0.2);
	box-shadow:0 0 4px rgba(0, 0, 0, 0.2);*/
}

#bookmark {
	
	background: transparent url('../images/bookmark.png') no-repeat;
	position: relative;
	z-index: 6;
	width: 46px;
	height: 107px;
	float:left;
	margin-top: -2px;
	margin-top: 22px;
	left: -6px;
	cursor: pointer;
}


.sc-option {	font-size: 11px;
	color: rgba(255,255,255,0.6);
	position: relative;
	display: block;
	text-align: center;
	margin: 0px 5px 0px 5px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 182px;
	left: 25px;
	float: left;
	border-bottom: 1px solid rgba(255,255,255,0.2);

	clear: both;
}
.logoto{
	border-top:none;
	
}

.sc-option.first {
	border-top: 0px;
	padding-top: 0px;
}

.sc-option.last {
	border-bottom: 0px;
	padding-bottom: 20px;

}

.sc-logo {
	margin-top: 0px;
	margin-left: -2px;
}

.sc-option.logo {
	border: 0px;
	padding-bottom: 0px;
}

.sc-image {
	float: left;
	display: block;
	margin-right: 8px;
	margin-bottom: 1px;
	cursor: pointer;
	padding-left:5px;
}
.sc-image-fb {
	padding-left:12px;
}

.sc-image.no-margin {
	margin-right: 0px;
}

.sc-image img {
	background: rgba(0,0,0,0.3);
	padding: 3px;
	border: 3px solid rgba(0,0,0,0.1);

}

.sc-image input {
	display: none;
}