.vegas-overlay {
	background:transparent url(../images/overlays/01.png);
	opacity:0.5;
	z-index:-7;
	-webkit-backface-visibility: hidden;
}

.vegas-background {
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
	z-index:-8;
    /* counteracts global img modification by twitter bootstrap library */
    max-width: none !important;
	-webkit-transform: translate3d(0px, 0px, 0px);
	
	

	


	background:#000;
	
}