{% extends 'base/base.html' %}

{% block title %} Coming soon {% endblock %}

{% block body %}
    {% include 'base/nav-bar.html' %}
    <div id="wrap">
        <div id="main">
            <!-- content goes here -->
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-block">
                                    <h2 class="card-title col-md-12 text-danger">Applications are closed <i class="fa fa-ban"></i> </h2>
                                    <p class="card-text col-md-8">
                                        Due to some technical issues we are not able to accept any applications right now.
                                        We will soon start accepting applications, probably from 14-5-2018. Please stay tuned.                                        <br>
                                        <br>
                                        You can read more about the club
                                        <a href="{% url 'foss_intro' %}">here</a>, or take a look at our achievements
                                        <a href="{% url 'achievements' %}">here</a>.
                                    </p>
                                    <div class="col-md-12">
                                        <a href="{% url 'foss_intro' %}" class="card-link">About us</a>
                                        <a href="{% url 'achievements' %}" class="card-link">Achievements</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'base/footer.html' %}
    <style>
        .card {
            margin: 50px 0;
        }
        .card-text {
            margin: 20px 0;
        }
        .card-title {
            color: #38c100;
        }
    </style>

{% endblock %}
