{% extends 'base/base.html' %}
{% load static %}
{% block title %} {{ object.name }} {% endblock %}

{% block body %}
    {% include 'base/nav-bar.html' %}
    <div id="wrap">
        <div id="main">
            <!-- content goes here -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <h1 class="card-title">{{ object.name }}</h1>
                                <h4 class="card-subtitle mb-2">{{ object.batch }}, <span class="text-muted">{{ object.email }}</span></h4>
                                <hr>
                                <h4>Why dou you want to join?</h4>
                                <p class="card-text">{{ object.motivation }}</p>
                                <h4>Technical knowledge</h4>
                                <p class="card-text">{{ object.cs_background }}</p>
                                <h4>Interests</h4>
                                <p class="card-text">{{ object.interests }}</p>
                                <p class="card-text"><small class="text-muted">{{ object.date }}</small></p>
                                {% if object.is_approved %}
                                    <hr>
                                    <div class="alert alert-success" role="alert">
                                        <strong>Approved!</strong> Mail has already been sent to this applicant.
                                    </div>
                                {% endif %}
                                {% if object.is_rejected %}
                                    <hr>
                                    <div class="alert alert-danger" role="alert">
                                        <strong>Rejected!</strong> Mail has already been sent to this applicant.
                                    </div>
                                {% endif %}
                                {% ifequal object.is_rejected object.is_approved %}
                                    <hr>
                                    <button id="approve" class="btn btn-success card-link">Approve</button>
                                    <button id="reject" class="btn btn-danger card-link">Reject</button>
                                {% endifequal %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'base/footer.html' %}
    <style>

        .card {
                margin: 70px 5% 0 5%;
                padding: 0;
            }

        @media (min-width: 768px) {
            /* Desktops */
            .card {
                margin: 70px 13% 0 13%;
                padding: 40px;
            }
            .card-text {
                margin: 10px 20px 20px 0;
            }
        }
        h4 {
            margin: 20px 0;
        }

        @media (max-width: 600px) {
            /* smartphones, Android phones, landscape iPhone, tablets */
            .card {
                margin: 40px 0 0 0;
                padding: 0;
            }
        }
    </style>
{% endblock %}

