{% extends 'base/base.html' %}
{% load static %}
{% load index %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Achievements</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->
    <br><br>

    <div class="container-fluid" align="center">
        <div class="row">
            <div class="contribution col-md-12">

                <!-- Contributions -->

                <div class="heading col-md-12">
                    <h1><i class="fa fa-share-alt"></i> Contributions</h1>
                </div>
                <div class="content col-md-12">
                    <div class="table-responsive">
                        {% if contribution_list %}
                            <table>
                                <thead>
                                <tr>
                                    <th scope="col">Student</th>
                                    <th scope="col">Organisation</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Bug id</th>
                                    <th scope="col">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in contribution_list %}
                                    <tr class="click"
                                        onclick="window.location='{% url 'contribution_detail' object.id %}';">
                                        <th scope="row">{{ object.user.first_name }} {{ object.user.last_name }}</th>
                                        <td>{{ object.organisation }}</td>
                                        <td>{{ object.title }}</td>
                                        <td><a href="{{ object.url }}">{{ object.contribution_id }}</a></td>
                                        {% for i in range %}
                                            {% ifequal object.date.month i %}
                                                <td> {{ month|index:i }}, {{ object.date.year }}</td>
                                            {% endifequal %}
                                        {% endfor %}

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </div>
                            <br>
                            <a href="{% url 'contribution' %}">
                                <button class="btn btn-dark anim-scroll">All contributions</button>
                            </a>
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'contribution_create' %}">
                                    <button class="btn btn-dark anim-scroll">New contribution</button>
                                </a>
                            {% endif %}
                        {% else %}
                            <div class="alert alert-warning col-md-12" role="alert">
                                <strong>No records found!</strong> Sorry, no data to be loaded.
                            </div>
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'contribution_create' %}">
                                    <button class="btn btn-dark anim-scroll">New contribution</button>
                                </a>
                            {% endif %}
                        {% endif %}
                    <br>
                    <br>
                </div>
                <hr> <!-- GSoC -->

                <div class="heading col-md-12">
                    <h1><i class="fa fa-google-plus"></i> GSoC</h1>
                </div>

                <div class="content col-md-12">
                    {% if gsoc_list %}
                        <div class="table-responsive">
                            <table>
                                <thead>
                                <tr>
                                    <th scope="col">Student</th>
                                    <th scope="col">Organisation</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Mentors</th>
                                    <th scope="col">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in gsoc_list %}
                                    <tr class="click"
                                        onclick="window.location='{% url 'gsoc_detail' object.id %}';">
                                        <th scope="row">{{ object.user.first_name }} {{ object.user.last_name }}</th>
                                        <td>{{ object.organization }}</td>
                                        <td><a href="{{ object.url }}">{{ object.title }}</a></td>
                                        <td>{{ object.mentors }}</td>
                                        {% for i in range %}
                                            {% ifequal object.date.month i %}
                                                <td> {{ month|index:i }}, {{ object.date.year }}</td>
                                            {% endifequal %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <a href="{% url 'gsoc' %}">
                            <button class="btn btn-dark anim-scroll">All GSoCs</button>
                        </a>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'gsoc_create' %}">
                                <button class="btn btn-dark anim-scroll">New GSoC</button>
                            </a>
                        {% endif %}
                    {% else %}
                        <div class="alert alert-warning col-md-12" role="alert">
                            <strong>No records found!</strong> Sorry, no data to be loaded.
                        </div>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'gsoc_create' %}">
                                <button class="btn btn-dark anim-scroll">New GSoC</button>
                            </a>
                        {% endif %}
                    {% endif %}
                    <br>
                    <br>
                </div>

                <hr> <!-- Articles -->

                <div class="heading col-md-12">
                    <h1><i class="fa fa-file-text"></i> Articles</h1>
                </div>
                <div class="content col-md-12">
                    {% if article_list %}
                        <div class="table-responsive">
                            <table>
                                <thead>
                                <tr>
                                    <th scope="col">Student</th>
                                    <th scope="col">Magazine</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Area</th>
                                    <th scope="col">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in article_list %}
                                    <tr class="click"
                                        onclick="window.location='{% url 'article_detail' object.id %}';">
                                        <th scope="row">{{ object.user.first_name }} {{ object.user.last_name }}</th>
                                        <td>{{ object.magazine }}</td>
                                        <td>{{ object.title }}</td>
                                        <td>{{ object.area }}</td>
                                        {% for i in range %}
                                            {% ifequal object.date.month i %}
                                                <td> {{ month|index:i }}, {{ object.date.year }}</td>
                                            {% endifequal %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <a href="{% url 'article' %}">
                            <button class="btn btn-dark anim-scroll">All articles</button>
                        </a>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'article_create' %}">
                                <button class="btn btn-dark anim-scroll">New article</button>
                            </a>
                        {% endif %}
                    {% else %}
                        <div class="alert alert-warning col-md-12" role="alert">
                            <strong>No records found!</strong> Sorry, no data to be loaded.
                        </div>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'article_create' %}">
                                <button class="btn btn-dark anim-scroll">New article</button>
                            </a>
                        {% endif %}
                    {% endif %}
                    <br>
                    <br>
                </div>

                <hr> <!-- Interships -->

                <div class="heading col-md-12">
                    <h1><i class="fa fa-graduation-cap"></i> Internships</h1>
                </div>
                <div class="content col-md-12 table-responsive">
                    {% if intern_list %}
                        <div class="table-responsive">
                            <table>
                                <thead>
                                <tr>
                                    <th scope="col">Student</th>
                                    <th scope="col">Organisation</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in intern_list %}
                                    <tr class="click"
                                        onclick="window.location='{% url 'intern_detail' object.id %}';">
                                        <th scope="row">{{ object.user.first_name }} {{ object.user.last_name }}</th>
                                        <td>{{ object.organisation }}</td>
                                        <td>{{ object.title }}</td>
                                        <td>{{ object.type }}</td>
                                        {% for i in range %}
                                            {% ifequal object.date.month i %}
                                                <td> {{ month|index:i }}, {{ object.date.year }}</td>
                                            {% endifequal %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <>
                        <a href="{% url 'intern' %}">
                            <button class="btn btn-dark anim-scroll">All internships</button>
                        </a>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'intern_create' %}">
                                <button class="btn btn-dark anim-scroll">New internship</button>
                            </a>
                        {% endif %}
                    {% else %}
                        <div class="alert alert-warning col-md-12" role="alert">
                            <strong>No records found!</strong> Sorry, no data to be loaded.
                        </div>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'intern_create' %}">
                                <button class="btn btn-dark anim-scroll">New internship</button>
                            </a>
                        {% endif %}
                    {% endif %}
                    <br>
                    <br>
                </div>

                <hr> <!-- Speakers -->

                <div class="heading col-md-12">
                    <h1><i class="fa fa-graduation-cap"></i> Talks</h1>
                </div>
                <div class="content col-md-12 table-responsive">
                    {% if speaker_list %}
                        <div class="table-responsive">
                            <table>
                                <thead>
                                <tr>
                                    <th scope="col">Student</th>
                                    <th scope="col">Conference, location</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">type</th>
                                    <th scope="col">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in speaker_list %}
                                    <tr class="click"
                                        onclick="window.location='{% url 'speaker_detail' object.id %}';">
                                        <th scope="row">{{ object.user.first_name }} {{ object.user.last_name }}</th>
                                        <td>{{ object.conference_name }}, {{ object.location }}</td>
                                        <td><a href="{{ object.url }}">{{ object.title }}</a></td>
                                        <td>{{ object.type }}</td>
                                        {% for i in range %}
                                            {% ifequal object.date.month i %}
                                                <td> {{ month|index:i }}, {{ object.date.year }}</td>
                                            {% endifequal %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <a href="{% url 'speaker' %}">
                            <button class="btn btn-dark anim-scroll">All talks</button>
                        </a>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'speaker_create' %}">
                                <button class="btn btn-dark anim-scroll">New talk</button>
                            </a>
                        {% endif %}
                    {% else %}
                        <div class="alert alert-warning col-md-12" role="alert">
                            <strong>No records found!</strong> Sorry, no data to be loaded.
                        </div>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'speaker_create' %}">
                                <button class="btn btn-dark anim-scroll">New talk</button>
                            </a>
                        {% endif %}
                    {% endif %}
                    <br>
                    <br>
                </div>

                <hr> <!-- Contests -->

                <div class="heading col-md-12">
                    <h1><i class="fa fa-graduation-cap"></i> Contests</h1>
                </div>
                <div class="content col-md-12 table-responsive">
                    {% if contest_list %}
                        <div class="table-responsive">
                            <table>
                                <thead>
                                <tr>
                                    <th scope="col">Student</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Rank</th>
                                    <th scope="col">Contest Id</th>
                                    <th scope="col">Solved problems</th>
                                    <th scope="col">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in contest_list %}
                                    <tr class="click"
                                        onclick="window.location='{% url 'contest_detail' object.id %}';">
                                        <th scope="row">{{ object.user.first_name }} {{ object.user.last_name }}</th>
                                        <td><a href="{{ object.url }}">{{ object.title }}</a></td>
                                        <td>{{ object.ranking }}</td>
                                        <td>{{ object.contest_id }}</td>
                                        <td>{{ object.problems_solved }}</td>
                                        {% for i in range %}
                                            {% ifequal object.date.month i %}
                                                <td> {{ month|index:i }}, {{ object.date.year }}</td>
                                            {% endifequal %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <a href="{% url 'contest' %}">
                            <button class="btn btn-dark anim-scroll">All contests</button>
                        </a>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'contest_create' %}">
                                <button class="btn btn-dark anim-scroll">New contest</button>
                            </a>
                        {% endif %}
                    {% else %}
                        <div class="alert alert-warning col-md-12" role="alert">
                            <strong>No records found!</strong> Sorry, no data to be loaded.
                        </div>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'contest_create' %}">
                                <button class="btn btn-dark anim-scroll">New contest</button>
                            </a>
                        {% endif %}
                    {% endif %}
                    <br>
                    <br>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

