{% extends 'base/base.html' %}
{% load static %}
{% load index %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Articles</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->
    <br><br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table>
                    <thead>
                    <tr>
                        <th scope="col">Student</th>
                        <th scope="col">Magazine</th>
                        <th scope="col">Title</th>
                        <th scope="col">Area</th>
                        <th scope="col">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr class="click"
                            onclick="window.location='{% url 'article_detail' object.id %}';">
                            <th scope="row">{{ object.user.first_name }} {{ object.user.last_name }}</th>
                            <td>{{ object.magazine }}</td>
                            <td>{{ object.title }}</td>
                            <td>{{ object.area }}</td>
                            {% for i in range %}
                                {% ifequal object.date.month i %}
                                    <td> {{ month|index:i }}, {{ object.date.year }}</td>
                                {% endifequal %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}