<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FOSS@Amrita. Code | Share | Grow</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'home/assets/images/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'home/assets/images/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'home/assets/images/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'home/assets/images/apple-touch-icon-114x114.png' %}">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,400italic,700' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,400italic,700' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'home/assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Icon Fonts -->
    <link href="{% static 'home/assets/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'home/assets/css/et-line-font.min.css' %}" rel="stylesheet">

    <!-- Plugins -->
    <link href="{% static 'home/assets/css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'home/assets/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'home/assets/css/superslides.css' %}" rel="stylesheet">
    <link href="{% static 'home/assets/css/vertical.min.css' %}" rel="stylesheet">

    <!-- Template core CSS -->
    <link href="{% static 'home/assets/css/template.css' %}" rel="stylesheet">
</head>

<body>

<!-- PRELOADER -->
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- /PRELOADER -->

<!-- Incudes navigation bar.  -->
{% include 'home/side-nav.html' %}

<!-- WRAPPER -->
<div class="wrapper">

    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Remove Achievement</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <section class="module">
        <div class="container-fluid container-custom">

            <div class="row">

                <div class="col-sm-8 col-sm-offset-2">

                    <article class="post" align="center">
                        <div class="post-header">
                            <h2 class="post-title font-alt">Delete the selected achievement?</h2>
                        </div>
                        <div class="post-content">
                            <form class="card" action="" method="post">
                                <div class="card-block">
                                    {% csrf_token %}
                                    <h2 class="post-title font-alt">Delete {{ object.title }}?</h2>
                                    <button type="submit" class="btn btn-danger">Yes, continue</button>
                                </div>
                            </form>
                            <br>
                            <a href="{% url 'achievements'%}">
                                <button class="btn btn-dark anim-scroll">No, take me out of here</button>
                            </a>
                        </div>
                    </article>

                </div>
                <!-- .col-* -->

            </div>
            <!-- .row -->

        </div>
    </section>

    <hr class="divider">


    <!-- Footer section -->
    {% include 'home/footer.html' %}

</div>
<!-- /WRAPPER -->

<!-- JAVASCRIPT FILES -->
<script src="{% static 'home/assets/js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'home/assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'home/assets/js/jquery.superslides.min.js' %}"></script>
<script src="{% static 'home/assets/js/jquery.mb.YTPlayer.min.js' %}"></script>
<script src="{% static 'home/assets/js/imagesloaded.pkgd.js' %}"></script>
<script src="{% static 'home/assets/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'home/assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'home/assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'home/assets/js/jquery.fitvids.js' %}"></script>
<script src="{% static 'home/assets/js/jqBootstrapValidation.js' %}"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="{% static 'home/assets/js/gmap3.min.js' %}"></script>
<script src="{% static 'home/assets/js/appear.js' %}"></script>
<script src="{% static 'home/assets/js/smoothscroll.js' %}"></script>
<script src="{% static 'home/assets/js/submenu-fix.js' %}"></script>
<script src="{% static 'home/assets/js/contact.js' %}"></script>
<script src="{% static 'home/assets/js/custom.js' %}"></script>

</body>

</html>
