{% extends 'base/base.html' %}
{% load static %}
{% load index %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Contributions</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->
    <br><br>

    <div class="container-fluid">
        <div class="row">
            <canvas id="contribution-chart"></canvas>
            <br>
            <div class="col-md-12">
                <table>
                    <thead>
                    <tr>
                        <th scope="col">Student</th>
                        <th scope="col">Organisation</th>
                        <th scope="col">Title</th>
                        <th scope="col">Bug id</th>
                        <th scope="col">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in contribution_list %}
                        <tr class="click"
                            onclick="window.location='{% url 'contribution_detail' object.id %}';">
                            <th scope="row">{{ object.user.first_name }} {{ object.user.last_name }}</th>
                            <td>{{ object.organisation }}</td>
                            <td>{{ object.title }}</td>
                            <td><a href="{{ object.url }}">{{ object.contribution_id }}</a></td>
                            {% for i in range %}
                                {% ifequal object.date.month i %}
                                    <td> {{ month|index:i }}, {{ object.date.year }}</td>
                                {% endifequal %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'base/js/chart-bundle.js' %}"></script>
    <script>
        var config = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        {% for i in contribution_y %}
                            {{ i }},
                        {% endfor %}
                    ],
                    backgroundColor: [
                        {% for i in color_list %}
                            '{{ i }}',
                        {% endfor %}
                    ],
                    label: 'Organisations'
                }],
                labels: [
                    {% for i in contribution_x %}
                        '{{ i.0 }}',
                    {% endfor %}
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Contributions'
                },
                responsive: true,
                maintainAspectRatio: true
            }
        };

        window.onload = function () {
            var ctx = document.getElementById("contribution-chart").getContext("2d");
            window.myPie = new Chart(ctx, config);
        };


    </script>
{% endblock %}