{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">New Contribution</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <!-- BLOG -->
    <div class="notifications">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                        {{ field.label }}: {{ error|escape }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <section class="module">
        <div class="container-fluid container-custom">

            <div class="row">

                <div class="col-sm-8 col-sm-offset-2">

                    <article class="post" align="center">
                        <div class="post-header">
                            <h2 class="post-title font-alt">Add the details</h2>
                        </div>
                        <div class="post-content">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="name">Title</label>
                                    <input type="text" class="form-control" name="title" id="name"
                                           value="{{ object.title }}" placeholder="Title">
                                </div>
                                <div class="form-group">
                                    <label for="contribution_id">Bug id</label>
                                    <input type="text" class="form-control" name="contribution_id" id="contribution_id"
                                           value="{{ object.contribution_id }}" placeholder="Contribution id">
                                </div>
                                <div class="form-group">
                                    <label for="organisation">Organisation name</label>
                                    <input type="text" class="form-control" name="organisation" id="organisation"
                                           value="{{ object.organisation }}" placeholder="Org name">
                                </div>

                                <div class="form-group">
                                    <label for="url">Project Url</label>
                                    <input type="text" class="form-control" name="url" id="url"
                                           value="{{ object.url }}" placeholder="Url">
                                </div>

                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea id="description" name="description" class="form-control"
                                              placeholder="Description" rows="5">{{ object.description }}</textarea>
                                </div>

                                <div class="form-group">
                                    <label for="date">Publication date</label>
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input id="date" name="date" value="{{ object.date|date:'Y-M-D' }}"
                                               type='text' placeholder="YYYY-MM-DD" class="form-control"/>
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <center>
                                    <ul id="filters" class="filters font-alt">
                                        <button type="submit">Save</button>
                                    </ul>
                                </center>
                            </form>
                        </div>
                    </article>

                </div>
                <!-- .col-* -->

            </div>
            <!-- .row -->

        </div>
    </section>
    <!-- /BLOG -->
{% endblock %}
