{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <br>
            <h1 class="head col-md-12"><strong>{{ object.title }}</strong></h1>
            <hr>
            <br>
            <div class="col-md-10">
                <div class="card mb-3">
                    <img class="card-img-top img-fluid" src="{% static 'achievements/image/contribution.jpeg' %}"
                         alt="Card image cap">
                    <div class="card-block">
                        <br>
                        <h5 class="card-text">
                            <small class="text-muted">{{ object.organisation }}, bug id:
                                <a href="{{ object.url }}">{{ object.contribution_id }}</a>
                            </small>
                        </h5>
                        <p class="card-text">{{ object.description }}</p>
                        <p class="card-text">
                            <small class="text-muted">
                                {{ object.user.first_name }} {{ object.user.last_name }}, {{ object.date }}
                            </small>
                        </p>
                        {% if edit_permission %}
                            <a href="{% url 'contribution_update' object.id %}">
                                <button type="submit" class="btn btn-dark anim-scroll">Update</button>
                            </a>
                            <a href="{% url 'contribution_delete' object.id %}">
                                <button type="submit" class="btn btn-danger add-btn">Delete</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

