bootstrap3-datetime==2.4
certifi==2018.1.18
chardet==3.0.4
Django==1.11.10
django-allauth==0.35.0
django-recaptcha==1.4.0
djangorestframework==3.7.7
djangorestframework-jwt==1.11.0
feedparser==5.2.1
future==0.16.0
google-api-python-client==1.6.5
httplib2==0.10.3
idna==2.6
MySQL-python==1.2.5
oauth2client==4.1.2
oauthlib==2.0.6
Pillow==5.0.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyJWT==1.6.1
python-openid==2.2.5
python-telegram-bot==10.0.1
pytz==2018.3
requests==2.18.4
requests-oauthlib==0.8.0
rsa==3.4.2
serializers==0.2.4
six==1.11.0
uritemplate==3.0.0
urllib3==1.22
xlrd==1.1.0
