certifi==2018.8.24
chardet==3.0.4
defusedxml==0.5.0
Django==1.11.6
django-allauth==0.37.1
django-bootstrap3-datetimepicker-2==2.7.0
django-recaptcha==1.4.0
feedparser==5.2.1
idna==2.7
oauthlib==2.1.0
Pillow==5.2.0
python3-openid==3.1.0
pytz==2018.5
requests==2.19.1
requests-oauthlib==1.0.0
urllib3==1.23
xlrd==1.1.0
