{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">New Alumnus</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <!-- BLOG -->
    <div class="notifications">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                        {{ field.label }}: {{ error|escape }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <section class="module">
        <div class="container-fluid container-custom">

            <div class="row">

                <div class="col-sm-8 col-sm-offset-2">

                    <article class="post" align="center">
                        <div class="post-header">
                            <h2 class="post-title font-alt">Add your info</h2>
                        </div>
                        <div class="post-content">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" name="name" id="name"
                                           value="{{ object.name }}" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" name="email" id="email"
                                           value="{{ object.email }}" placeholder="Email">
                                </div>
                                <label for="profile_pic">
                                    Profile Picture
                                    {% if object.profile_pic %}
                                        : {{ object.profile_pic }}
                                    {% endif %}
                                </label><br>
                                <div class="custom-file form-group">
                                    <input type="file" name="image" id="file" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="position">Position</label>
                                    <input type="text" class="form-control" name="position" id="position"
                                           value="{{ object.position }}" placeholder="Position">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea id="description" name="description" class="form-control"
                                              placeholder="Description" rows="5">{{ object.description }}</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="resume">Resume</label>
                                    <input type="file" class="form-control" name="resume" id="resume">
                                </div>
                                <div class="form-group">
                                    <label for="date">Date</label>
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input id="date" name="date" value="{{ object.date|date:'Y-M-D' }}"
                                               type='text' placeholder="YYYY-MM-DD" class="form-control"/>
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                        </div>
                        <center>
                            <ul id="filters" class="filters font-alt">
                                <button type="submit">Save</button>
                            </ul>
                        </center>
                        </form>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
