{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
         data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

    <!-- HERO TEXT -->
    <div class="hero-caption">
        <div class="hero-text">
            <h1 class="hero-title font-alt">Timeline</h1>
            <p class="hero-subtitle font-serif"></p>
        </div>
    </div>
    <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <ul class="timeline">
        {% for object in objects %}

        <li class="timeline-event">
            <label class="timeline-event-icon"></label>
             <img style="margin-left: 300px; height: 25%; width: 25%;" src="/static/media/{{ object.profile_pic }}">
            <div class="timeline-event-copy">
                <p class="timeline-event-thumbnail">{{ object.date.month }} {{ object.date.year }}</p>
                <h3>{{ object.name }}</h3>
                <h4>{{ object.email }}</h4>
                <strong>{{ object.position }}</strong>
                <p><br>{{ object.description }}</p>
                <a href="/static/media/{{ object.resume }}">

                    <h6 class="btn btn-dark anim-scroll">Resume</h6>

                </a>
            </div>
        </li>
        {% endfor %}
    </ul>



{% endblock %}

