{% extends 'base/base.html' %}
{% load static %}
{% block styles %}
    <link href="{% static 'timeline/css/styles.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

    <script src="https://use.typekit.net/bkt6ydm.js"></script>
    <script>try {
        Typekit.load({async: true});
    } catch (e) {
    }</script>
    <header class="example-header">
        <h1 class="text-center">Timeline</h1>
        <p class="m-b-md-60">The list of all the FOSS Alumni's in chronological order</p>
    </header>
    <div class="container-fluid">
        <div class="row example-centered" style="margin-top: 50px;">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <ul class="timeline timeline-centered">
                    {% for object in objects %}
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span>{{ object.date.month }}, {{ object.date.year }}</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3 class="timeline-title">{{ object.name }}</h3>
                                <h6 class="timeline">({{ object.email }})</h6>
                                <h5 class="timeline">{{ object.position }}</h5>
                                {#<img style="margin-left: 300px; height: 25%; width: 25%;" src="/static/media/{{ object.profile_pic }}">#}
                                <p>{{ object.description }}</p>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>

{% endblock %}

