{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Documents</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <!-- content goes here -->
    <div class="container" align="center">
        <div class="row">
            <div class="col-md-12">
                <form class="card" action="" method="post">
                    <br>
                    <div class="card-block">
                        {% csrf_token %}
                        <h2>Delete {{ object.title }}?</h2>
                        <div class="row">
                            <div class="col-lg-6 col-centered">
                                <button type="submit" class="btn btn-danger">Yes, continue</button>
                            </div>
                            <div class="col-lg-6 col-centered">
                                <a href="{% url 'document' %}">
                                    <button class="btn btn-dark anim-scroll">No, take me out of here</button>
                                </a>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}