{% extends 'base/base.html' %}

{% block title %} Successful {% endblock %}

{% block body %}
     <div id="wrap">
        <div id="main">
            {% include 'base/nav-bar.html' %}

            <div class="jumbotron">
                <h1 class="display-3">Sorry :(</h1>
                <p class="lead">You are already logged in, Please logout to continue.<hr class="my-4">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
                </p>
            </div>
        </div>
     </div>

    {% include 'base/footer.html' %}
{% endblock %}
