{% extends 'base/base.html' %}
{% load static %}
{% block title %} Login {% endblock %}l
{% block css %}
    <link rel="stylesheet" href="{% static 'registration/css/style.css' %}" />
{% endblock %}

{% block body %}
    <div id="wrap">
        <div id="main">

            {% include 'base/nav-bar.html' %}

            {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

            <div class="container">
                <div class="card-div">
                    <div class="card card-container">
                        <h1 id="profile-img" class="profile-img-card">Login</h1>
                        <p id="profile-name" class="profile-name-card"></p>

                        {% if form.errors %}
                            {% for error in form.erros %}
                            <div class="alert alert-danger" role="alert">
                                <strong>{{ error }}</strong>
                            </div>
                            {% endfor %}
                        {% endif %}

                        <form class="form-signin" action="" method="post">
                            {% csrf_token %}
                            <span id="reauth-email" class="reauth-email"></span>
                            <input id="inputUser" class="form-control" name="username" type="text" placeholder="User name" required autofocus>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <div id="remember" class="checkbox">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                        </form><!-- /form -->

                        <a href="{% url 'password_reset' %}" class="forgot-password">
                            Forgot the password?
                        </a>
                    </div><!-- /card-container -->
                </div>
            </div><!-- /container -->
        </div>
    </div>

    {% include 'base/footer.html' %}

{% endblock %}

