<!-- Created by Navaneeth S, navisk13@gmail.com -->

{% extends 'base/base.html' %}
{% load static %}
{% block title %} Change Password {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'registration/css/style.css' %}" />
{% endblock %}
{% block body %}
    {% include 'base/nav-bar.html' %}
     <div id="wrap">
        <div id="main">

<div class="container">
                <div class="card-div">
                    <div class="card card-container">
                        <h1 id="profile-img" class="profile-img-card"style="text-align:center">Change Password</h1>
                        <p id="profile-name" class="profile-name-card"></p>

<form class="form-signin" method="POST" action="">
    {% csrf_token %}
    <input type="password" name="old_password" placeholder="Old Password"><br>
    <input type="password" name="new_password1" placeholder="New Password"><br>
    <input type="password" name="new_password2" placeholder="Re-enter New Password"><br>

    <input type="submit" value="Change Password">

</form>
                    </div>
                </div>
</div>

        </div>
     </div>

    {% include 'base/footer.html' %}
{% endblock %}
