{% extends 'base/base.html' %}

{% block title %} logout {% endblock %}

{% block body %}
    {% include 'base/nav-bar.html' %}
    <div id="wrap">
        <div id="main">
            <!-- content goes here -->
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="col-md-6 offset-md-3">
                            <div class="card">
                                <div class="card-block">
                                    <h1 class="card-title col-md-12">Check your mail </h1>
                                    <hr>
                                    <p class="card-text col-md-12">
                                        A mail has been sent with the reset link, follow the instructions in the mail to reset your password.
                                    </p>
                                    <div class="alert alert-warning col-md-12" role="alert">
                                      <strong>Note!</strong> If you didn't get a mail, this mail id is not registered.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'base/footer.html' %}
    <style>
        .card {
            margin: 50px 0;
        }
        .card-text {
            margin: 20px 0;
        }

        .btn {
            margin-right: 10px;
        }
    </style>

{% endblock %}
