<!-- Created by Navaneeth S, navisk13@gmail.com -->

{% extends 'base/base.html' %}
{% load static %}
{% block title %} Confirm Reset {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'registration/css/style.css' %}" />
{% endblock %}
{% block body %}
     <div id="wrap">
        <div id="main">
            {% include 'base/nav-bar.html' %}
            <div class="container">
                <div class="card-div">
                    <div class="card card-container">
                        <h1 id="profile-img" class="profile-img-card">Reset Password</h1>
                        <p id="profile-name" class="profile-name-card"></p>

    {% if validlink %}
        <form class="form-signin" action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New Password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm Password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
            </table>

                 <input type="submit" value="Change Password" />

        </form>

    {% else %}
        <h1>Password reset failed</h1>
        <p>The link is invalid. Please request a new link.</p>
{% endif %}
                    </div>
                </div>
            </div>


        </div>
     </div>

    {% include 'base/footer.html' %}
{% endblock %}
