{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Success!</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <section class="module">
        <div style="margin-left: 300px">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="col-md-6 offset-md-3">
                            <div class="card">
                                <div class="card-block">
                                    <h2 class="card-title col-md-12">Password reset successful <i
                                            class="fa fa-check"></i></h2>
                                    <hr>
                                    <p style="margin-left: 40px" class="card-text col-md-8">
                                        <a href="{% url 'login' %}" class="btn btn-dark anim-scroll">Login</a>
                                        <a href="{% url 'signup' %}" class="btn btn-dark anim-scroll">Signup</a>
                                    </p>
                                    <div style="margin-left: 80px" class="col-md-12">
                                        <a href="{% url 'about' %}" class="card-link">About us</a>
                                        <a href="{% url 'achievements' %}" class="card-link">Achievements</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
