<!-- Created by Navaneeth S, navisk13@gmail.com -->

{% extends 'base/base.html' %}
{% load static %}
{% block title %} Password Reset Successful {% endblock %}

{% block body %}
    {% include 'base/nav-bar.html' %}
     <div id="wrap">
        <div id="main">
            <div class="container">
                <div class="card-div">
                    <div class="card card-container">
                        <h1 id="profile-img" class="profile-img-card" style="text-align:center">Password reset complete.</h1>
                        <p id="profile-name" class="profile-name-card"></p>



        <a style="text-align:center" href="{% url 'login' %}">Login Again</a>
                    </div>
                </div>
            </div>


        </div>
     </div>

    {% include 'base/footer.html' %}
{% endblock %}
