{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Change Password</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <section class="module">
        <div style="margin-left: 350px" class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4 card">
                    <div class="card-block">
                        <h2 class="card-title"><i class="fa fa-key" aria-hidden="true"></i> Change password</h2>
                        <hr>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="magazine">Old Password</label>
                                <input type="password" class="form-control" name="old_password" id="old_password"
                                       placeholder="Old Password">
                            </div>
                            <div class="form-group">
                                <label for="magazine">New password</label>
                                <input type="password" class="form-control" name="new_password1" id="new_password1"
                                       placeholder="New Password">
                            </div>
                            <div class="form-group">
                                <label for="magazine">Confirm</label>
                                <input type="password" class="form-control" name="new_password2" id="new_password2"
                                       placeholder="Confirm new Password">
                            </div>
                            <button style="margin-left: 100px" type="submit" class="btn btn-dark anim-scroll">Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}