{% extends 'base/base.html' %}
{% load static %}
{% block title %} Reset Password {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'registration/css/style.css' %}" />
{% endblock %}

{% block body %}
     <div id="wrap">
        <div id="main">
            {% include 'base/nav-bar.html' %}


            {% if form.email.errors %}
            <p>{{ form.email.errors }}</p>
            {% endif %}


<div class="container">
                <div class="card-div">
                    <div class="card card-container">
                        <h3 id="profile-img" class="profile-img-card">Reset Password</h3>
                        <p id="profile-name" class="profile-name-card"></p>

            <form method="POST" action="">
            {% csrf_token %}
                <input type="email" name="email" placeholder="name@example.com"><br>
                <input type="submit" value="Send Mail">

                </form>
                    </div>
                </div>
</div>


        </div>
     </div>

    {% include 'base/footer.html' %}
{% endblock %}
