{% extends 'base/base.html' %}
{% load static %}
{% block title %}  Password Change Successful {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'registration/css/style.css' %}" />
{% endblock %}
{% block body %}
     <div id="wrap">
        <div id="main">
            {% include 'base/nav-bar.html' %}
            <div class="container">
                <div class="card-div">
                    <div class="card card-container">
                        <h1 id="profile-img" class="profile-img-card"style="text-align:center">Password Changed.</h1>
                        <p id="profile-name" class="profile-name-card"></p>



            <a style="text-align:center" href="{% url 'login' %}">Login Again</a>

</div>
                </div>
            </div>



        </div>
     </div>

    {% include 'base/footer.html' %}
{% endblock %}
