{% extends 'base/base.html' %}

{% block title %} password change {% endblock %}

{% block body %}
    {% include 'base/nav-bar.html' %}
    <div id="wrap">
        <div id="main">
            <!-- content goes here -->
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="col-md-6 offset-md-3">
                            <div class="card">
                                <div class="card-block">
                                    <h1 class="card-title col-md-12">Password changed</h1>
                                    <hr>
                                    <p class="card-text col-md-12">
                                        Password change successful.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'base/footer.html' %}
    <style>
        .card {
            margin: 50px 0;
        }
        .card-text {
            margin: 20px 0;
        }

        .btn {
            margin-right: 10px;
        }
    </style>

{% endblock %}
