{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Permission Denied</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <section class="module">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div style="margin-left: 250px" class="col-md-6 offset-md-3">
                        <div class="card">
                            <div class="card-block">
                                <h1 class="card-title col-md-12">Sorry :(</h1>
                                <hr>
                                <p class="card-text col-md-12">
                                    Permission denied! Only an admin can access this page, please login to an admin
                                    account.
                                </p>
                                <p style="margin-left: 150px" class="card-text col-md-12">
                                    {% if request.user.is_authenticated %}
                                        <a class="btn btn-dark anim-scroll" href="{% url 'logout' %}" role="button">Logout</a>
                                    {% else %}
                                        <a class="btn btn-dark anim-scroll" href="{% url 'login' %}"
                                           role="button">Login</a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}