{% extends 'base/base.html' %}
{% load static %}
{% block styles %}
    <link href="{% static 'registration/css/profile_list.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Event Details</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->
    <br><br>
    <div class="container">
        <div class="row">

            <h1 class="head col-md-9">Club Members</h1>
            <div class="form-group col-md-3">
                <input onkeyup="myFunction()" type="text" class="form-control" id="search" placeholder="Search">
            </div>

            <div class="col-md-12" id="box">

                {% for user_info in object_list %}
                    {% if user_info.user.is_active %}
                        <a href="{% url 'profile' user_info.user.id %}">
                               <div id="crt-side-box-wrap" class="crt-sticky">
            <div id="crt-side-box">

                <div class="crt-side-box-item">

                    <div class="crt-card bg-primary text-center">
                        <div class="crt-card-avatar">
                            {% if user_info.profile_pic %}
                                <img class="avatar avatar-210" src="/static/media/{{ user_info.profile_pic }}"
                                     srcset="/static/media/{{ user_info.profile_pic }} 2x" alt="">
                            {% else %}
                                <img src="{% static 'base/image/default-no-profile-pic.jpg' %}" alt=""
                                     class="avatar-210 card-title profile-pic img-fluid rounded-circle">
                            {% endif %}
                        </div>
                        <div class="crt-card-info">
                            <h2 class="text-upper">{{ user_info.user.first_name }} {{ user_info.user.last_name }}</h2>

                            <p class="text-muted">{{ user_info.small_intro }}</p>
                            <ul class="crt-social clear-list">
                                {% if user_info.gitHub %}
                                    <li><a class="icon-link" href="{{ user_info.gitHub }}"><span class="crt-icon">
                                            <img width="25px" height="25px" src="{% static 'base/icons/github.png' %}">
                                          </span></a>
                                    </li>
                                {% endif %}
                                {% if user_info.blog %}
                                    <li><a href="{{ user_info.blog }}"><span class="crt-icon">
                                            <img width="25px" height="25px" src="{% static 'base/icons/wordpress.png' %}">
                                          </span></a>
                                    </li>
                                {% endif %}
                                {% if user_info.linkedIn %}
                                    <li><a href="{{ user_info.linkedIn }}"><span class="crt-icon">
                                            <img width="25px" height="25px" src="{% static 'base/icons/linkedin.png' %}">
                                          </span></a></li>
                                {% endif %}
                                {% if user_info.facebook %}
                                    <li><a href="{{ user_info.facebook }}"><span class="crt-icon">
                                            <img width="25px" height="25px" src="{% static 'base/icons/facebook.png' %}">
                                          </span></a></li>
                                {% endif %}
                                {% if user_info.twitter %}
                                    <li><a href="{{ user_info.twitter }}"><span class="crt-icon">
                                            <img width="25px" height="25px" src="{% static 'base/icons/twitter.png' %}">
                                          </span></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% if user_info.resume %}
                        <div class="crt-side-box-btn">
                            <a class="btn btn-default btn-lg btn-block btn-thin btn-upper"
                               href="/static/media/{{ user_info.resume }}">Download Resume</a>
                        </div>
                    {% endif %}
                </div><!-- .crt-side-box-item -->
            </div><!-- #crt-side-box -->
        </div><!-- #crt-side-box-wrap -->
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
        <script>
        function myFunction() {
            // Declare variables
            var input, filter, items, i;
            input = document.getElementById('search');
            filter = input.value.toUpperCase();
            items = document.getElementsByClassName('items');

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < items.length; i++) {
                if (items[i].id.toUpperCase().indexOf(filter) > -1) {
                    items[i].style.display = "";
                } else {
                    items[i].style.display = "none";
                }
            }
        }
    </script>
{% endblock %}
