{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Welcome</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <section class="module">
        <div class="container">
            <div class="row">
                <div style="margin-left: 250px">
                    <div class="container">
                        <div class="col-md-6 offset-md-3">
                            <div class="card">
                                <div class="card-block">
                                    <div style="margin-left: 70px">
                                        <h3 class="card-title col-md-12">Welcome to FOSS@Amrita!</h3>
                                        <hr>
                                        <br>
                                        <p style="margin-left: 20px" class="card-text col-md-12">
                                            Click the button below to login or use the navbar.
                                        </p>
                                    </div>
                                    <p style="margin-left: 180px" class="col-md-12">
                                        <a class="btn btn-dark anim-scroll" href="{% url 'login' %}"
                                           role="button">Login</a>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <hr>
                            <hr>
                            <hr>
                            <div class="alert alert-danger" role="alert">
                                <strong>Note!</strong> Your account needs to be verified before you can log in.
                                Please contact a senior member of the club to activate your account.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}