{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Attendance</h1>
                <p class="hero-subtitle font-serif"></p>

            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <!-- BLOG -->
    <div class="container">
    <br><br>
    <div class="container">
        <div class="row">
            <h2 class="header col-md-12">{{ head }}</h2>
            {% for user_info in data %}
                <div class="col-xs-6 col-sm-4 col-md-2 btn names btn-success" style="white-space: normal">

                    <p class="link">{{ user_info.0.first_name }} {{ user_info.0.last_name }} - {{ user_info.2 }}%</p>

                </div>
            {% endfor %}
            <p class="col-xs-12 col-md-12"></p>

        </div>
    </div>
{% endblock %}



