{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Attendance</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <!-- BLOG -->
    <br><br>
    <div class="container" align="center">
        <h2 class="header">{{ head }}</h2>
        <div class="row form">
            {% csrf_token %}
            {% for att in attendance_list %}
                <div class="col-xs-6 col-sm-4 col-md-2 btn names {% if att.attendance %}btn-success{% else %}btn-danger{% endif %}"
                     id="{{ att.user.username }}_div" style="white-space: normal">
                    <p class="link">{{ att.user.first_name }} {{ att.user.last_name }}</p>
                </div>
            {% endfor %}
            <p class="col-xs-12 col-md-12"></p>
        </div>
    </div>
{% endblock %}
