{% extends 'base/base.html' %}
{% load static %}
{% block title %} Add attendance {% endblock %}

{% block body %}
    <div id="wrap">
        <div id="main">
            {% include 'base/nav-bar.html' %}

                <form action="" method="post">
                {% csrf_token %}

                    {% for att in attendance_list %}
                        <div class="btn {% if att.attendance %}btn-success{% else %}btn-danger{% endif %}" onclick="click_attendance('{{ att.user.username }}')" id="{{ att.user.username }}_div">
                            {{ att.user.first_name }} - {{ att.user.last_name }}
                            <input type="checkbox" style="display: None" id="{{ att.user.username }}" value="True" name="{{ att.user.username }}" {% if att.attendance %}checked{% endif %}>
                        </div>
                    {% endfor %}

                    <input type="submit">

                </form>
        </div>
    </div>

    {% include 'base/footer.html' %}

    {% block script %}
        <script src="{% static 'clubManagement/js/attendance.js' %}"></script>
    {% endblock %}
{% endblock %}