{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Attendance</h1>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <div class="container">
        <br>
        <h1 style="margin-left: 430px;">{{ head }}</h1>
        <div class="row form">
            {% for data in data_list %}
                <h2 class="header col-md-12 col-xs-12">{{ data.1 }}</h2>
                <h3 class="col-md-12 col-xs-12">{{ data.2 }}</h3>
                {% for user_info in data.0 %}

                    <div class="col-xs-6 col-sm-4 col-md-2 btn names btn-success" style="white-space: normal">
                        <a class="link" href="{% url 'attendance_report_year' head user_info.0.id %}">
                            {{ user_info.0.first_name }} {{ user_info.0.last_name }} - {{ user_info.3 }}%
                        </a>
                    </div>

                {% endfor %}
            {% endfor %}
            <p class="col-xs-12 col-md-12"></p>
        </div>
    </div>
{% endblock %}
