{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Status Updates</h1>
                <h1 class="hero-title font-alt">Batch Status</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <!-- BLOG -->
    <div class="container-fluid" align="center">

        <div class="row">
            <br>
            <div class="col-md-12">
                <h1 id="page-header">{{ batch }} batch</h1>
            </div>
            <div class="col-md-12 table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-default">
                    <tr>
                        <th>Student</th>
                        <th>Title</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr class="click" onclick="window.location='{% url 'status_detail' object.id %}';">
                            <th scope="row">{{ object.user.first_name }} {{ object.user.last_name }}</th>
                            <td>{{ object.project }}</td>
                            <td>{{ object.date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}