{% extends 'base/base.html' %}
{% load static %}
{% block title %} Responsibilities {% endblock %}

{% block body %}
    {% include 'base/nav-bar.html' %}
    <div id="wrap">
        <div id="main">
            <!-- content goes here -->
            <div class="container">
                <div class="row">
                    <div class="card col-md-12">
                        <div class="card-block">
                            <h1 class="card-title">Club responsibilities</h1>
                            <p class="card-text">
                                <small class="text-muted">A list of all the responsibilities.</small>
                            </p>
                            <hr>
                            <div class="row">
                                {% for object in object_list %}
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-block">
                                                <h3 class="card-title">{{ object.name }}</h3>
                                                <p class="card-text">{{ object.description }}</p>
                                                <a href="{% url 'responsibility_detail' object.id %}"
                                                   class="btn btn-primary">More info
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                                <div class="col-md-12">
                                    <div class="container">
                                        <a href="{% url 'responsibility_create' %}">
                                            <button class="btn btn-secondary">Add new</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'base/footer.html' %}

    <style>
        .card {
            margin: 10px;
        }
        .container {
            margin-top: 50px;
        }
    </style>
{% endblock %}
