{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Club responsibilities</h1>
                <p class="hero-subtitle font-serif">A list of all the responsibilities.</p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <!-- BLOG -->
    <br><br>
    <div class="container">
        <div class="row">
            <div class="card col-md-12">
                <div class="card-block">
                    <h1 class="card-title">Club responsibilities</h1>
                    <p class="card-text">
                        <small class="text-muted">A list of all the responsibilities.</small>
                    </p>
                    <hr>
                    <div class="row">
                        {% for object in object_list %}
                            <div class="col-md-4">
                                <div class="card">
                                    <div style="padding: 10px" class="card-block">
                                        <h3 class="card-title">{{ object.name }}</h3>
                                        <p class="card-text">{{ object.description }}</p>
                                        <a href="{% url 'responsibility_detail' object.id %}"
                                           class="btn btn-dark anim-scroll">More info
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="col-md-12">
                            <div class="container">
                                <br><br>
                                <a href="{% url 'responsibility_create' %}">
                                    <button class="btn btn-dark anim-scroll">Add new</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}