{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Responsibility</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <section class="module">
        <div class="container">
            <div class="row">

                <div class="col-md-8">
                    <h3>Club Responsibility</h3>
                    <div class="card mb-3">
                        <img class="card-img-top"
                             src="{% static 'clubManagement/image/great_power_great_responsibility.jpg' %}">
                        <div class="card-block">
                            <br>
                            <h4 class="card-title">{{ object.name }}</h4>
                            <p class="card-text">{{ object.description }}</p>
                            <p class="card-text">
                                <small class="text-muted">
                                    Added by : {{ object.created_by.first_name }} {{ object.created_by.last_name }}
                                </small>
                            </p>
                            {% if edit_permission %}
                                <a href="{% url 'responsibility_update' object.id %}">
                                    <button type="submit" class="btn btn-dark anim-scroll">Update</button>
                                </a>
                                <a href="{% url 'responsibility_delete' object.id %}">
                                    <button type="submit" class="btn btn-danger add-btn">Delete</button>
                                </a>
                            {% endif %}
                        </div>
                    </div>

                </div>

                <ul class="list-group col-md-4">
                    <div class="margin-20"></div>
                    <li class="list-group-item justify-content-between">
                        <h5>Student's responsible</h5>
                        <span class="badge badge-default badge-pill">{{ user_count }}</span>
                    </li>
                    {% for resp in responsibility_list %}
                        <li class="list-group-item justify-content-between">
                            {{ resp.user.first_name }} {{ resp.user.last_name }}
                            <form method="post" action="{% url "student_responsibility_delete" resp.id %}">
                                {% csrf_token %}
                                <button type="submit" class="close">×</button>
                            </form>
                        </li>
                    {% endfor %}
                    {% if edit_permission %}
                        <br>
                        <div onclick="showForm()" class="col-md-6 offset-md-3" align="center">
                            <button class="btn btn-dark anim-scroll">
                                Add student
                            </button>
                        </div>
                    {% endif %}
                    <br><br><br>
                    <div class="card student-form" id="student-form" style="display: none">
                        <div class="card-block">
                            <form class="form-group col-md-10" action="" method="post">
                                {% csrf_token %}
                                <label for="exampleInputEmail1"><h4>Add Student</h4></label>
                                <div class="dropdown">
                                    <input id="search" onkeyup="myFunction()" class="form-control"
                                           data-toggle="dropdown" placeholder="Search with student name..."
                                           autocomplete="off">
                                    <input type="hidden" id="search-id" name="user_id">
                                    <div class="dropdown-menu" id="search-results">
                                        {% for user in all_users %}
                                            <p onclick="addText({{ user.id }}, '{{ user.first_name }} {{ user.last_name }}')"
                                               class="dropdown-item">{{ user.first_name }} {{ user.last_name }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-dark anim-scroll">Add</button>
                            </form>
                        </div>
                    </div>
                </ul>

            </div>
        </div>
    </section>
{% endblock %}

