{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Status</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <section class="module">

        <div style="margin-left: 150px" class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Status update</h1>
                    <h5 class="text-muted">{{ object.user.first_name }} {{ object.user.last_name }}</h5>
                    <hr>
                    <div class="card mb-3">
                        {% if object.image %}
                            <img class="card-img-top img-fluid" src="/static/media/{{ object.image }}">
                        {% else %}
                            <img class="card-img-top img-fluid" src="{% static 'clubManagement/image/status.png' %}">
                        {% endif %}
                        <div class="card-block">
                            <h4 class="card-title">{{ object.title }}</h4>
                            <p class="card-text">
                                    <textarea type="text" class="form-control" name="content" id="id_content">
                                        {{ object.content }}
                                    </textarea>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    Added by : {{ object.user.first_name }} {{ object.user.last_name }}
                                </small>
                            </p>
                            <div style="margin-left: 250px">
                                {% if edit_permission %}
                                    <a href="{% url 'status_update' object.id %}">
                                        <button type="submit" class="btn btn-dark anim-scroll">Update</button>
                                    </a>
                                    <a href="{% url 'status_delete' object.id %}">
                                        <button type="submit" class="btn btn-danger add-btn">Delete</button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}