

{% extends 'base/base.html' %}

{% block title %} Status {% endblock %}

{% block body %}
    {% include 'base/nav-bar.html' %}
{% for i in object_list %}

<p>Project name:{{ i.project }}</p>
<img src="/media/{{ i.image }}" style="height:180px;width:250px" >
<p>{{ i.content }}</p>
 <a href="{% url 'delete_status'  i.id %}">delete</a>
    <a href="{% url 'edit_status' i.id %}">edit</a>
{% endfor %}

<a href="{% url 'add_status' %}"><button>Add status</button></a>
<br>
<br>
<br>


    {% include 'base/footer.html' %}

{% endblock %}
