{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Add Status</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <!-- BLOG -->
    <div class="notifications">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                        {{ field.label }}: {{ error|escape }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <section class="module">
        <div style="margin-left: 150px" class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 card">
                    <div class="card-block">
                        <h1 class="card-title">Status</h1>
                        <hr>
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <small class="form-text text-muted">
                                Title
                            </small>
                            <div class="form-group">
                                <input type="text" class="form-control" name="title" id="name"
                                       value="{{ object.title }}" placeholder="Title">
                            </div>
                            <small class="form-text text-muted">
                                Content
                            </small>
                            <div class="form-group">
                                    <textarea type="text" class="form-control" name="content" id="id_content">
                                        {{ object.content }}
                                    </textarea>
                            </div>

                            <div class="form-group">
                                <small class="form-text text-muted">
                                    Project
                                </small>
                                <select name="project" class="form-control" id="id_project">
                                    <option value="">None</option>
                                    {% for i in project %}
                                        <option value="{{ i.id }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <small class="form-text text-muted">
                                Image
                            </small>
                            <div class="form-group">
                                <input id="id_image" name="image" value="{{ object.image }}"
                                       type='file' class="form-control"/>

                            </div>
                            <button style="margin-left: 300px" type="submit" class="btn btn-dark anim-scroll">Save
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}