{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Team</h1>
                <p class="hero-subtitle font-serif"></p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <section class="module">
        <div class="container-fluid container-custom">

            <div class="row">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-4">
                                <h3>Team details</h3>
                                <div class="card mb-3">
                                    <img class="card-img-top img-fluid" src="/static/clubManagement/image/{{ object.image }}">
                                    <div class="card-block">
                                        <h4 class="card-title">{{ object.name }}</h4>
                                        <p class="card-text">{{ object.description }}</p>
                                        <p class="card-text">
                                            <small class="text-muted">
                                                Added by
                                                : {{ object.created_by.first_name }} {{ object.created_by.last_name }}
                                            </small>
                                        </p>
                                        {% if edit_permission %}
                                            <a href="{% url 'team_update' object.id %}">
                                                <button type="submit" class="btn btn-dark anim-scroll">Update</button>
                                            </a>
                                            <a href="{% url 'team_delete' object.id %}">
                                                <button type="submit" class="btn btn-danger add-btn">Delete</button>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                              <div class="row">
                              <div class="col-md-5">
                              <ul class="list-group">
                                <div class="margin-20"></div>
                                <li class="row list-group-item justify-content-between">
                                    <h5 style="text-align: center">Team members</h5>
                                    <span class="col-md-1 badge badge-default badge-pill">{{ user_count }}</span>
                                </li>
                                {% for resp in responsibility_list %}
                                    <li class="row list-group-item justify-content-between">
                                        <p class="col-md-10">
                                            {{ resp.user.first_name }} {{ resp.user.last_name }}
                                        </p>
                                        <form class="col-md-2" method="post" action="{% url "team_member_delete" resp.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="close">×</button>
                                        </form>
                                    </li>
                                {% endfor %}
                                {% if edit_permission %}
                                    <div onclick="showForm()" class="col-sm-offset-5">
                                          <button class="btn btn-dark anim-scroll">
                                            Add student
                                        </button>
                                    </div>
                                {% endif %}
                                <div class="card student-form" id="student-form" style="display: none">
                                    <div class="card-block">
                                        <form class="form-group col-md-10" action="" method="post">
                                            {% csrf_token %}
                                            <br>
                                            <div class="dropdown">
                                                <input id="search" onkeyup="myFunction()" class="form-control"
                                                       data-toggle="dropdown" placeholder="Search for a student name.."
                                                       autocomplete="off">
                                                <input type="hidden" id="search-id" name="user_id">
                                                <div class="dropdown-menu" id="search-results">
                                                    {% for user in all_users %}
                                                        <p onclick="addText({{ user.id }}, '{{ user.first_name }} {{ user.last_name }}')"
                                                           class="dropdown-item">{{ user.first_name }} {{ user.last_name }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-dark anim-scroll">Add</button>
                                        </form>
                                    </div>
                                </div>
                            </ul>
                          </div>

                        </div>
                    </div>

                </div>                        
            <!-- .row -->

        </div>
      </div>
    </section>
{% endblock %}
