{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30"
             data-background="{% static 'BlogFeedAggregator/assets/images/mike-giles-wallpape.jpg' %}">

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="hero-title font-alt">Teams</h1>
                <p class="hero-subtitle font-serif">A list of all the Teams, FOSS@Amrita.</p>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <!-- BLOG -->
    <br><br>
    
    <div class="container"  >

                <div class="row">
                    {% for object in object_list %}
                        <div class="col-md-4">
                            <br>
                            <div class="card-group" style="width:60%" >
                                <img class="card-img-top img-fluid" height="auto" width="auto"
                                     src="/static/clubManagement/image/{{ object.image }}"
                                     alt="Card image cap">
                                <div class="card-block">
                                    <h3 class="card-title">{{ object.name }}</h3>
                                    <p class="card-body text-truncate">{{ object.description | truncatechars:99}}</p>
                                    <a href="{% url 'team_detail' object.id %}"
                                       class="btn btn-dark anim-scroll">More info
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if request.user.is_authenticated %}

                        <div class="col-md-12">
                            <div class="container">
                                <br><br>
                                <a href="{% url 'team_create' %}">
                                    <button class="btn btn-dark anim-scroll">Add new</button>
                                </a>
                            </div>
                        </div>
                    {% endif %}


        </div>
    </div>
{% endblock %}
