{% extends 'base/base.html' %}

{% load static %}
{% load index %}

{% block title %}Deleted{% endblock %}

{% block body %}
 {% include 'base/nav-bar.html' %}
<br>
<br>
<br>
<br>
<br>

    <form class="wide" action="" method="post" >
            {% csrf_token %}
        <div class="form-group">
            <p class="submit">  <input type="submit" value="Yes, delete the team." style="width: 25%" class="btn btn-primary btn-block"></p>
    </div>
    </form>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
{% include 'base/footer.html' %}
{% endblock %}